<%
	curMode = (Request.Query.HasProperty("m") ? String(Request.Query.m) : "0");
	step = (Request.Query.HasProperty( 'step' ) ? String( Request.Query.step ) : '1');
	userCode = (Request.Query.HasProperty('user') ? String( Request.Query.user ) : '');
	orgCode = (Request.Query.HasProperty('org') ? String( Request.Query.org ) : '0');
	lastName = (Request.Query.HasProperty('name') ? UrlDecode(Request.Query.name) : '');
	error = (Request.Query.HasProperty('err') ? UrlDecode(Request.Query.err) : '0');
	qCode = (Request.Query.HasProperty("q") ? UrlDecode(Request.Query.q) : "");
	badEmail = (Request.Query.HasProperty("email") ? UrlDecode(Request.Query.email) : "");
	partMail = (Request.Query.HasProperty("s") ? UrlDecode(Request.Query.s) : "");
%>
<HTML XMLNS="http://www.w3.org/1999/xhtml">
<HEAD>
<TITLE>Восстановление пароля</TITLE>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=windows-1251" />
<%Server.Execute( "include/head.html" )%>
<style type="text/css">
	input.inputEdit {
		padding: 0 4px;
	}
</style>
</HEAD>

<BODY class="defaultBody">

<TABLE ID="loginBodyTable" CLASS="loginBodyTable" CELLPADDING="0" CELLSPACING="0" BORDER="0" ALIGN="center">
<TR>
	<TD ID="docBodyTableTop" CLASS="bgTopUnder">
	
	<TABLE WIDTH="100%" CELLPADDING="0" CELLSPACING="0" BORDER="0">
		<TR>
			<TD><DIV ID="bg_left_top" CLASS="loginLeftTop"><IMG SRC="pics/1blank.gif" BORDER="0" CLASS="bgLeftTopTangle"/></DIV></TD>
			<TD><DIV ID="header_main" CLASS="loginHeader"><IMG SRC="pics/1blank.gif"/></DIV></TD>
		</TR>
	</TABLE>
	
	</TD>
</TR>
<TR>
	<TD>
	
	<TABLE WIDTH="100%"  border="0" CELLSPACING="0" CELLPADDING="0">
		<TR>
			<TD CLASS="mainMenuTop"><IMG SRC="pics/1blank.gif" WIDTH="1" HEIGHT="0" /></TD>
		</TR>
		<TR>
			<TD CLASS="mainMenuCenter"><IMG SRC="pics/1blank.gif" WIDTH="1" HEIGHT="15" /></TD>
		</TR>
		<TR>
			<TD CLASS="mainMenuBottom"><IMG SRC="pics/1blank.gif" WIDTH="1" HEIGHT="0" /></TD>
		</TR>
	</TABLE>
		
	<TABLE WIDTH="100%"  border="0" CELLSPACING="0" CELLPADDING="0" ALIGN="center"  class="registerTable">
	<FORM NAME="form_password_recovery" METHOD="post" ACTION="recovery_password_server.html">
		<TR>
			<TD VALIGN="top" CLASS="registerTD">
				
			<TABLE WIDTH="100%" BORDER="0" CELLSPACING="2" CELLPADDING="0">
			
<%
if(curMode!="0") {
%>
	<tr>
		<td CLASS="registerRightTD" colspan="2">
	<%switch (curMode) {
		case "email_send":
	%>
		<p style="text-align:justify;margin-bottom: 20px;"><b>Данные авторизации отправлены на адрес электронной почты <%=partMail%>***@nlmk.com, указанной при регистрации.<b/>
		<tr><td style="text-align:center;">
		<INPUT TYPE="submit" NAME="go" VALUE="На главную" STYLE="width:150px;margin-bottom:20px;" CLASS="inputButton" onMouseOver="this.className='inputButtonOver';" onMouseOut="this.className='inputButton';" id="btSend" 
		onClick="document.location.href = 'default.html'; return false;">
		</td></tr>
	<%	break;
		case "not_answer":
	%>
		<p style="text-align:justify;margin-bottom: 20px;"><b>Для восстановления пароля к СДО Вам необходимо отправить письмо администратору дистанционного обучения. В ответ Вы получите письмо с логином и временным паролем, который необходимо будет сменить. В теле письма можно ничего не указывать.<b/></p>
		<tr><td style="text-align:center;">
		<INPUT TYPE="submit" NAME="go" VALUE="Отправить письмо" STYLE="width:150px;margin-bottom:20px;" CLASS="inputButton" onMouseOver="this.className='inputButtonOver';" onMouseOut="this.className='inputButton';" id="btSend" 
		onClick="document.location.href = 'mailto:nl-a-do@nlmk.com ?subject=27307/'+<%=userCode%>; return false;">
		</td></tr>
<%		break;
	}
} else {%>
<%if(error!="0") {%>
	<tr>
		<td CLASS="registerRightTD" colspan="2">
<%switch (error) {
	case "not_compare":
%>
		<p style="text-align:justify;margin-bottom: 2px;"><b>Код ошибки 27301/<%=userCode%></br>Введенный табельный номер не соответствует введенной фамилии сотрудника! Введите данные повторно.<b/></p>
<%	break;
	case "many_users":
%>
		<p style="text-align:justify;margin-bottom: 2px;"><b>Код ошибки 27302/<%=userCode%></br>В базе данных найдено несколько сотрудников с указанным табельным номером! Сообщите код ошибки администртору дистанционного обучения по <a href="mailto:nl-a-do@nlmk.com">электронной почте</a>.<b/></p>
<%	break;
	case "not_user":
%>			
		<p style="text-align:justify;margin-bottom: 2px;"><b>Код ошибки 27303/<%=userCode%></br>В базе данных не найден сотрудник с указанными данными. Если Вы ранее не были зарегистрированы в СДО NLMK-WebTutor, то необходимо пройти <a href="https://apps.nlmk.ru/sites/e-learning/SitePages/onlineEntry.aspx" target="_blank">регистрацию</a> или ввести данные повторно.<b/></p>
<%	break;
	case "not_data":
%>
		<p style="text-align:justify;margin-bottom: 2px;"><b>Код ошибки 27304</br>Введены неверные первоначальные данные. Введите данные повторно.<b/></p>
<%	break;
	case "bad_question":
%>
		<p style="text-align:justify;margin-bottom: 2px;"><b>Код ошибки 27305/<%=userCode%></br>Выбран вопрос, отличающийся от вопроса, хранящегося в базе данных. Введите данные повторно.<b/></p>
<%	break;
	case "bad_answer":
%>
		<p style="text-align:justify;margin-bottom: 2px;"><b>Код ошибки 27306/<%=userCode%></br>Введен неверный ответ на контрольный вопрос. Введите правильный ответ.<b/></p>
<%	break;
	case "email_bad":
%>
		<p style="text-align:justify;margin-bottom: 2px;"><b>Код ошибки 27308/<%=userCode%></br>Введен неверный адрес электронной почты <%=badEmail%>. Введите данные повторно.</br>Если Вы уверены в том, что ввели правильный адрес электронной почты, <a href="mailto:nl-a-do@nlmk.com ?subject=27308/<%=userCode%> &Body=Не проходит верификацию адрес <%=badEmail%>">отправьте ошибку</a> администраторам дистанционного обучения.<b/></p>
<%
	break;
	case "not_email":
%>
		<p style="text-align:justify;margin-bottom: 2px;"><b>Код ошибки 27309/<%=userCode%></br>Не введен адрес электронной почты. Введите данные повторно.<b/></p>
<%
	break;
	case "user_dismiss":
%>
		<p style="text-align:justify;margin-bottom: 2px;"><b>Код ошибки 27310/<%=userCode%></br>Введены первоначальные данные уволенного сотрудника. Введите данные повторно.</br>Если Вы уверены в том, что ввели правильные данные, <a href="mailto:nl-a-do@nlmk.com ?subject=27310/<%=userCode%> &Body=Сотрудник определен как уволенный. Организация <%=orgCode%>.">отправьте ошибку</a> администраторам дистанционного обучения.<b/></p>
<%
}%>
		</td>
	</tr>
<%}%>
				<TR>
					<td class="registerRightTD" colspan="2">
						<p style="text-align:justify;margin-bottom:2px;<%= (Int(step)>1) ? "color:#C0C0C0;" : "" %>"> <%= (Int(step)==1) ? "<b>Для восстановления пароля Вам необходимо заполнить поля ниже</b>" : "Для восстановления пароля Вам необходимо заполнить поля ниже" %></p>
					</td>
				</TR>

				<TR>
					<TD CLASS="registerLeftTD" style=" <%= (Int(step)>1) ? "color:#C0C0C0;" : "" %>"><%= (Int(step)==1) ? "<b>Предприятие:</b>":"Предприятие:"%></TD>
					<td CLASS="registerRightTD">
						<select name="organisation" id="organisation" <%=(Int(step)>1)?"disabled":""%>>
							<option value="" disabled selected>Выберите организацию</option>
<%
var orgs = XQuery("for $elem in orgs order by $elem/name descending return $elem");
for (org in orgs) { %>
							<option value='<%=org.code%>' id='<%=org.code%>'><%=org.name%></option>
<%}%>
						</select>
					</td>
				</TR>
				<TR>
					<TD CLASS="registerLeftTD"  style="<%=(Int(step)>1) ? "color:#C0C0C0;" : "" %>"><%= (Int(step)==1) ? "<b>Табельный номер:</b>":"Табельный номер:"%></TD>
					<TD CLASS="registerRightTD"><INPUT TYPE="text" NAME="usercode" STYLE="width:247px;" CLASS="inputEdit" VALUE="<%=(error=='0'?userCode:'')%>" required <%=(Int(step)>1 && userCode!='') ? 'readonly=""' : ''%>/></TD>
				</TR>
				<TR>
					<TD CLASS="registerLeftTD"  style="<%=(Int(step)>1) ? "color:#C0C0C0;" : "" %>"><%= (Int(step)==1) ? "<b>Фамилия:</b>":"Фамилия:"%></TD>
					<TD CLASS="registerRightTD"><INPUT TYPE="text" NAME="lastname" STYLE="width:247px;" CLASS="inputEdit" VALUE="<%=(error=='0'?lastName:'')%>" required  <%=(Int(step)>1 && userCode!='') ? 'readonly=""' : ''%>/></TD>
				</TR>

<%if(Int(step)>1) {%>				
				<TR>
					<TD CLASS="registerRightTD" colspan="2">
					<p style="text-align:justify;margin-bottom:2px; margin-top:7px;<%= (Int(step)==3) ? "color:#C0C0C0;" : "" %>"><%=(Int(step)==2)? "<b>Выберите контрольный вопрос и дайте на него ответ. Эти данные ранее система запрашивала у Вас<b>" : "Выберите контрольный вопрос и дайте на него ответ. Эти данные ранее система запрашивала у Вас"%></p>
				</TR>
				<TR>
					<TD CLASS="registerLeftTD"  style="<%=(Int(step)>2) ? "color:#C0C0C0;" : "" %>"><%= (Int(step)>1) ? "<b>Контрольный вопрос:</b>":"Контрольный вопрос:"%></TD>
					<td CLASS="registerRightTD">
						<select name="question" <%=(Int(step)>2)?"disabled":""%>>
							<option value="" disabled selected>Выберите вопрос</option>
							<option value="0" id="0">В каком году Вы окончили школу?</option>
							<option value="1" id="1">О какой профессии Вы мечтали в детстве?</option>
							<option value="2" id="2">Какое отчество Вашей матери?</option>
							<option value="3" id="3">Как имя Вашего лучшего друга детства?</option>
							<option value="4" id="4">Город, где Вы отдыхали в прошлый раз?</option>
						</select>
					</td>
				</TR>
				<TR>
					<TD CLASS="registerLeftTD" style="<%=(Int(step)>2) ? "color:#C0C0C0;" : "" %>"><%= (Int(step)>1) ? "<b>Ответ:</b>":"Ответ:"%></TD>
					<TD CLASS="registerRightTD"><INPUT TYPE="password" NAME="answer" STYLE="width:247px;" CLASS="inputEdit" VALUE="<%=(Int(step)==3)?String("Верно! Совсем верно!"):""%>" <%=(Int(step)>2 && userCode!="") ? 'readonly=""' : ""%> required/></TD>
				</TR>	

<%if(Int(step)==3) {%>				
				<TR>
					<TD CLASS="registerRightTD" colspan="2">
					<p style="text-align:justify;margin-bottom: 2px; margin-top: 7px;"><b>В базе данных нет Вашего корпоративного адреса электронной почты. Вам необходимо ввести его в поле ниже. На этот адрес будет поступать информация от системы дистанционного обучения.</b></p>
				</TR>
				<TR>
					<TD CLASS="registerLeftTD"><b>Электронная почта:</b></TD>
					<TD CLASS="registerRightTD"><INPUT TYPE="text" NAME="email" STYLE="width:247px;" CLASS="inputEdit" VALUE="" pattern="[a-z0-9]+[_-]+[a-z0-9]+@nlmk+\.com" required oninvalid="alert('Введите адрес корпоративной электронной почты в формате f_io@nlmk.com');"/></TD>
				</TR>
<%}%>				
<%}%>				
				<tr>
					<td><input type="hidden" name="stepclient" value="<%=step%>"<td>
				</tr>
				<TR>
<%if(Int(step)!=1) { %>
				<TD style="vertical-align: bottom;"><-- <a href='recovery_password_server.html?m=reset'>Назад</a></TD>
<%} else {%>
				<td></td>
<%}%>
				<TD><INPUT TYPE="submit" NAME="go" VALUE="Продолжить" STYLE="width:150px; margin-top: 10px;" CLASS="inputButton" onMouseOver="this.className='inputButtonOver';" onMouseOut="this.className='inputButton';" id="btSend">
				</TD>
			</TABLE>
				
			</TD>
		</TR>
	</FORM>
	</TABLE>
<%}%>
	</TD>
</TR>
<TR>
	<TD>
		<%Server.Execute( "include/user_footer.html" )%>
    </TD>
</TR>
</TABLE>

<script>
$(document).ready(function() {
	if ('<%=orgCode%>' != '0') {
		document.getElementById("<%=orgCode%>").setAttribute('selected', 'selected');
	};
	if ('<%=qCode%>' != '') {
		document.getElementById("<%=qCode%>").setAttribute('selected', 'selected');
	};
	
	$("form").submit(function(event) {
		if ($("#organisation").is(':disabled')==true) {
			$("#organisation").attr('disabled', false);
		}
	});
});
</script>
</HTML>