td {  font-family: Arial, Helvetica, sans-serif; font-size: 8pt}
.qu8 {  font-family: Arial, Helvetica, sans-serif; font-size: 11px}
.qu9 {  font-family: Arial, Helvetica, sans-serif; font-size: 12px}
.qu12 {  font-family: Arial, Helvetica, sans-serif; font-size: 12pt; font-weight: bold}
h3 {  font-family: Tahoma, Arial; font-size: 14pt; color: #0066CC}
.header {  font-family: Tahoma, Arial; font-size: 14pt; font-weight: bold}
.select {  font-family: Tahoma, Arial, Helvetica, sans-serif; font-size: 8pt}
.question {  font-family: Tahoma, Arial, Helvetica, sans-serif; font-size: 10pt; font-weight: bold}
td {font-family:tahoma,arial,helvetica,geneve,sans-serif; font-size:11px;}
body {font-family:tahoma,arial,helvetica,geneve,sans-serif; font-size:11px;}
input {font-family:tahoma,arial,helvetica,geneve,sans-serif; font-size:11px; border: solid 1 px;}
.inputws {font-family:tahoma,arial,helvetica,geneve,sans-serif; font-size:11px; color: rgb(24,46,128); border-color: rgb(225,77,0); border: solid 1 px;}
.inputab {font-family:tahoma,arial,helvetica,geneve,sans-serif; font-size:11px; color: #182D80; border-color: #182D80; border: solid 1 px;}
.inputXL {font-family:arial; font-size:12pt; text-align: right; color: rgb(0,0,0); border-color: rgb(255,255,255); border: solid 0 px;}
select {font-family:tahoma,arial,helvetica,geneve,sans-serif; font-size:11px;}
.selectws {font-family:tahoma,arial,helvetica,geneve,sans-serif; font-size:11px; color: rgb(24,46,128);}
b {color:#003366}
DIV.revFilter {filter:revealTrans();}
IMG.revFilter {filter:revealTrans();}
TD.revFilter {filter:revealTrans();}
SELECT.classMenu {font-size:8pt;color:white;background-color:blue;border:0;}
v\:* {behavior:url(#default#VML);} 

#contents{position:absolute; top:37; left:-2; visibility:hidden; }
#help{position:absolute; top:37; left:-2; visibility:hidden; }
#calculator{position:absolute; top:37; left:-2; visibility:hidden; }
#settings{position:absolute; top:37; left:-2; visibility:hidden; }
#about{position:absolute; top:37; left:-2; visibility:hidden; }

.inputwscalc {font-family: arial,helvetica,geneve,sans-serif; font-size:24px; font-weight: bold; color: #FF0000; background: #000000; border-color: #999999; border: solid 2 px;}
.inputwscalcmem {width:50px; height:32px; font-family:verdana,tahoma,arial,helvetica,geneve,sans-serif; font-size:18px; font-weight: bold; color: #00CC33; background: #666666; border-color: #999999; border: solid 2 px;}
.membutton {width:50px; height:32px; font-family:arial,helvetica,geneve,sans-serif; font-size:14px; font-weight: bold; color: #FFFFFF; background: #009933; border-color: #999999; border: solid 2 px;}
.eqbutton {width:40px; height:32px; font-family:arial,helvetica,geneve,sans-serif; font-size:14px; font-weight: bold; color: #FFFFFF; background: #0033CC; border-color: #999999; border: solid 2 px;}
.signbutton {width:40px; height:32px; font-family:verdana,arial,helvetica,geneve,sans-serif; font-size:14px; font-weight: bold; color: #FFFFFF; background: #666666; border-color: #999999; border: solid 2 px;}
.numbutton {width:40px; height:32px; font-family:verdana,arial,helvetica,geneve,sans-serif; font-size:18px; font-weight: bold; color: #000000; background: #EEEEEE; border-color: #999999; border: solid 2 px;}
.delbutton {width:40px; height:32px; font-family:arial,helvetica,geneve,sans-serif; font-size:14px; font-weight: bold; color: #FFFFFF; background: #CC3333; border-color: #999999; border: solid 2 px;}
.delbutton2 {width:100px; height:32px; font-family:verdana,arial,helvetica,geneve,sans-serif; font-size:12px; font-weight: bold; color: #FFFFFF; background: #CC3333; border-color: #999999; border: solid 2 px;}

.wsfincalcbutton {width:100px; font-family:tahoma,arial,helvetica,geneve,sans-serif; font-size:11px; font-color: #000033; background: #E0F0FF; border-color: #000099; border: solid 1 px;}

.size1 {font-size: 9px;}
.size2 {font-size: 13px;}
.size3 {font-size: 16px;}
.size4 {font-size: 18px;}
.size5 {font-size: 24px;}
.size6 {font-size: 32px;}
.size7 {font-size: 45px;}