
<%
        curContestID = curObjectID; 
        curContest = curObject;     
%>        
        <br/>

<p><b><%=tools_web.get_web_str('cg_works')%></b></p>					

<SCRIPT LANGUAGE="JAVASCRIPT">
function doSubmit_process( _id )
{	 	
    document.forms['participant_form'].status.value = 'process'; 
    document.forms['participant_form'].object_id.value = _id;	  
	document.forms['participant_form'].submit();
}
function doSubmit_cancel( _id )
{	
    document.forms['participant_form'].object_id.value = _id; 	
    document.forms['participant_form'].status.value = 'cancel';   
	document.forms['participant_form'].submit();
}
function doSubmit_vote( _id )
{
    document.forms['participant_form'].object_id.value = _id; 		
    document.forms['participant_form'].status.value = 'assessment';   
	document.forms['participant_form'].submit();
}
function doSubmit( qq, ww )
{	
	document.forms['participant_form'].status.value = ww;	
    document.forms['participant_form'].object_id.value = String( qq );   
	document.forms['participant_form'].submit();
}
function checkValue( mark_min , mark_max )
{
    var fCheck = false;
    try
    {
        fCheck = ( ! isNaN( document.forms['participant_form'].com_generalstr.value ) && Number( document.forms['participant_form'].com_generalstr.value ) >  Number( mark_min ) && Number( document.forms['participant_form'].com_generalstr.value ) < Number( mark_max ) )
    }
    catch(err)
    {
    }
    if ( ! fCheck )
    {
        alert( String(<%=CodeLiteral( tools_web.get_web_str('cg_mes_number') )%>).replace(/{PARAM1}/gi, "W3Schools").replace(/{PARAM2}/gi, "W3Schools") );
        document.forms['participant_form'].com_general = '';
    }
}
</SCRIPT>

<FORM ACTION="participant_change.html" NAME="participant_form" id="participant_form" METHOD="POST" enctype="multipart/form-data">
	<input type=hidden name="doc_id" value="<%=curDocID%>"/>
	<input type=hidden name="action" value="save"/>
	<input type=hidden name="object_id" id="ooo" value=""/>
    <input type=hidden name="user_id" value="<%=curUserID%>"/>
    <input type=hidden name="status" value=""/>
    
    <table width="100%"  border="0" cellspacing="0" cellpadding="0" >

<%  				
				counter = 0;     

//_participants = XQuery( 'for $elem in participants where $elem/contest_id = ' + curContestID + ' and $elem/status_id!=\'cancel\' return $elem' );
for ( _participant in _participants )
{
			_class = counter++ % 2 ? 'tableRowEven' : 'tableRowOdd';
        	_partDoc = OpenDoc( UrlFromDocID( _participant.PrimaryKey));
            _part = _partDoc.TopElem;
            _contest = OpenDoc( UrlFromDocID( _part.contest_id )).TopElem;
            curObject = _part;
            curObjectID = _participant.PrimaryKey;
			try
			{
				_colDoc = OpenDoc( UrlFromDocID( _part.person_id ) ).TopElem;

				_staff = '';
				if ( global_settings.settings.fill_path_subs )
				{
					try
					{
						for ( _sub in _colDoc.path_subs )
						{
							if ( _sub.name != _part.person_position_name )
							{
								if ( _staff == '' )
									_staff= _sub.name;
								else
									_staff= _sub.name + '-->' +_staff;
							}
						}
					}
					catch(ee)
					{
					}
				}
				else
				{
					_staff = _colDoc.position_parent_name;
				}
			}
			catch ( err )
			{
				_staff = _part.person_subdivision_name;
			}
    %>
    <tr><td class="<%=_class%>"><table width="100%"  border="1" cellspacing="0" cellpadding="8"><tr><td width="30%" valign="top">
        <p class="tableHeaderTextInner"><b><%=tools.get_web_str('c_participant')%>: </b><a href="view_doc.html?mode=person&object_id=<%=_part.person_id%>"><%=_part.person_fullname%></a></p>
        <p><b><%=tools.get_web_str('c_position')%>:</b> <%=_part.person_position_name%></p>
        <p><b><%=tools.get_web_str('c_subd')%>:</b> <%=_staff%></p>
        <p><b><%=tools.get_web_str('c_org')%>:</b> <%=_part.person_org_name%></p>
        </td><td>
        <table>
            <TR>
                <TD COLSPAN = "2" WIDTH="250" ALIGN="left"><%=tools.get_web_str('c_desc')%>:</TD>
    <% 
    if (_part.person_id == curUserID && _part.status_id == 'plan')
    {
    %>	
    <script type="text/javascript" src="scripts/rte/js/tiny_mce.js"></script>
<script type="text/javascript">
	tinyMCE.init({
		// General options
		mode : "textareas",
		language : "ru",
		theme : "advanced",
		skin : "o2k7",
		skin_variant : "silver",
		plugins : "safari,style,table,save,advhr,advimage,advlink,emotions,iespell,inlinepopups,insertdatetime,preview,media,searchreplace,print,contextmenu,paste,fullscreen,noneditable,nonbreaking,xhtmlxtras",

		// Theme options
		theme_advanced_buttons1 : "newdocument,save,|,print,|,search,replace,|,iespell,|,cut,copy,paste,pastetext,pasteword,removeformat,|,undo,redo,|,help,|,fullscreen,|,preview",
		theme_advanced_buttons2 : "styleselect,formatselect,fontselect,fontsizeselect,|,bold,italic,underline,strikethrough,|,sub,sup,|,justifyleft,justifycenter,justifyright,justifyfull,|,bullist,numlist,|,outdent,indent,blockquote,|,forecolor,backcolor",
		theme_advanced_buttons3 : "tablecontrols,|,link,unlink,anchor,|,hr,advhr,|,image,media,charmap,nonbreaking,emotions,|,code,cleanup",
		theme_advanced_toolbar_location : "top",
		theme_advanced_toolbar_align : "left",
		theme_advanced_statusbar_location : "bottom",
		theme_advanced_resizing : true,

		// Example content CSS (should be your site CSS)
		content_css : "scripts/rte/css/content.css",

		// Drop lists for link/image/media/template dialogs
		template_external_list_url : "scripts/rte/lists/template_list.js",
		external_link_list_url : "scripts/rte/lists/link_list.js",
		external_image_list_url : "scripts/rte/lists/image_list.js",
		media_external_list_url : "scripts/rte/lists/media_list.js",

		// Replace values for the template plugin
		template_replace_values : {
			username : "Some User",
			staffid : "991234"
		}
	});
</script>					
                <TD COLSPAN = "2" STYLE=" font-weight:normal"><TEXTAREA ROWS="2" COLS="50" name="desc" id="desc" CLASS="inputTextarea" STYLE="width: 100%; height: 100px;"><%=_part.desc%></TEXTAREA></TD></TR>
    <%
            _count = 1;
            for ( _file in _part.files )
            {        
            _resourse = OpenDoc(UrlFromDocID(_file.file_id )).TopElem;
    %>        
                <tr> 
                    <td><%=tools.get_web_str('c_file') + ' ' + _count%></td>
                    <td><IMG src="pics/ex.gif" width="13" height="11">&nbsp;<A href="#" onClick="document.location.href='download_file.html?file_id=<%=_file.file_id%>&sid=<%=tools_web.get_sum_sid( _file.file_id, Session.sid )%>'"><%=_resourse.name%></A></td>
                    
                    <td><input type="file" name="file<%=_count%>" id="file<%=_count%>" class="inputEdit"/></td>
                    <td><input type="text" name="comment<%=_count%>" id="Text1" class="inputEdit" value="<%=_resourse.comment%>" style="width:400px" /></td>
                   
                </tr>
    <%
                _count++;
            }
            while ( _count <=5 )
            {
    %>
                <tr> 
                    <td colspan="2"><%=tools.get_web_str('c_file') + ' ' + _count%></td>
                    <td><input type="file" name="file<%=_count%>" id="file<%=_count%>" class="inputEdit"/></td>
                    <td><input type="text" name="comment<%=_count%>" id="comment<%=_count%>" class="inputEdit" style="width:400px"/></td>
    
                </tr>
    <%
                _count++;
            }
            
    %>
                </tr>
                </table>
                <hr/>
    <p><input type=button  value="    <%=tools.get_web_str("c_save")%>    " class="inputButton"  onclick="doSubmit('<%=_participant.PrimaryKey%>', '<%=_participant.status_id%>')" class="inputButton" onMouseOver="this.className='inputButtonOver';" onMouseOut="this.className='inputButton';">
    <input type=button  value="    <%=tools.get_web_str("c_worksent")%>    " onclick="doSubmit_process('<%=_participant.PrimaryKey%>')" class="inputButton" onMouseOver="this.className='inputButtonOver';" onMouseOut="this.className='inputButton';">   <input type=button  value="   <%=tools.get_web_str("c_recall")%>    "  onclick="doSubmit_cancel('<%=_participant.PrimaryKey%>')" class="inputButton" onMouseOver="this.className='inputButtonOver';" onMouseOut="this.className='inputButton';"></p>
    <%
    } else {
        if ( _part.desc == '' && ArrayCount( _part.files ) == 0 )
        {
%>			
                    <TD STYLE=" font-weight:normal"><%=tools.get_web_str("c_worknotsent")%></TD></TR>
                    </table>
        
<%
        
        }
        else
        {
%>			
                    <TD STYLE=" font-weight:normal"><%=_part.desc%></TD></TR>
                    </table>
                    <%Server.Execute( "view_files.html" )%>
        
<%
        }
    }
    
    if (_part.person_id == curUserID && _part.status_id != 'plan' )
    {
    %>
    
    <p><input type=button  value="   <%=tools.get_web_str('c_recall')%>    "  onclick="doSubmit_cancel('<%=_participant.PrimaryKey%>')" class="inputButton" onMouseOver="this.className='inputButtonOver';" onMouseOut="this.className='inputButton';"></p>        
    
    <%
    }
    else if (_part.person_id != curUserID  && _contest.status_id == 'process'  ) 
    {
    %>
        <br/>
        <br/>
    <%

        _marks = _part.marks;
        _assessment_type = _contest.estimation_id;
        _judges = _contest.judges;
        _judge_main = ArrayOptFirstElem( ArraySelect( _judges, 'main == true'));
        _mark = ArrayOptFirstElem( ArraySelect( curObject.marks, 'collaborator_id==' + curUserID));
           if (_contest.show_marks && ArrayOptFirstElem(curObject.marks)!=undefined)
            {
%>
			<table width="100%"  border="0" cellspacing="0" cellpadding="0" class="tableBorder">
            	<tr>
                    <td  bgcolor="silver" width="20%"><b><%=tools.get_web_str("c_coll")%></b></td>
                    <td  bgcolor="silver" width="20%"><b><%=tools.get_web_str("vkb_work_assessment")%></b></td>
                    <td  bgcolor="silver"><b><%=tools.get_web_str("c_comment")%></td>
                </tr>
<%  				
				counter = 0;     
            	for ( _cur_mark in curObject.marks )
                {
                	_class = counter++ % 2 ? 'tableRowEven' : 'tableRowOdd';
%>
						<tr><td class="<%=_class%>"><%=_cur_mark.person_fullname%></td><td class="<%=_class%>"><%=_cur_mark.value%></td><td class="<%=_class%>"><%=_cur_mark.desc%></td></tr>
<%      

                } 
%>
				</table>
				<br/>
<%                
            }
        if ( _mark == undefined || _assessment_type == 'com_general' )
        {
            switch ( _assessment_type )
            {
                case 'com_general':
                 if ( _part.status_id == 'process')
                 {
                    if ( _judge_main != undefined )
                    {
                        if ( curUserID == _judge_main.collaborator_id )
                        {
                            if ( _contest.combo )
                            {                    
        %>
                                <table width="100%"  border="0" cellspacing="0" cellpadding="0"><tr><td width = "20%"><%=tools.get_web_str("c_com_general")%></td><td>
                                    <select name="com_general" style="width: 100px">
                                        <option selected value="0"></option>
        <%
                                    _value = Int( _contest.mark_min );
                                    while ( _value <= Int( _contest.mark_max ) )
                                    {
                                        if ( _part.general_mark != '' && _part.general_mark == String( _value ))
                                        {
        %>                        
                                            <option selected value="<%=_value%>"><%=_value%></option>                               
        <%
                                        }
                                        else
                                        {
        %>                        
                                            <option  value="<%=_value%>"><%=_value%></option>
        <%
                                        }
                                        _value++;
                                     }
        %>
                                    </select></td></tr></table>
        
        <%
                                                
                            }
                            else
                            {
        %>
                                <table width="100%"  border="0" cellspacing="0" cellpadding="0"><tr><td width = "20%"><%=tools.get_web_str("c_com_general")%></td>
                                <td><input type="text" name="com_generalstr" id="com_generalstr" value="<%=_part.general_mark%>" size="30" class="inputEdit" onchange="checkValue(<%=_contest.mark_min%>,<%=_contest.mark_max%>)"/></td></tr></table>
        <%                    
                                                    
                            }
        %>
        <p><input type=button  value="    <%=tools.get_web_str("vmv_submit")%>    " class="inputButton"  onclick="doSubmit('<%=_participant.PrimaryKey%>', '<%=_participant.status_id%>')" class="inputButton" onMouseOver="this.className='inputButtonOver';" onMouseOut="this.className='inputButton';">   <input type=button  value="   <%=tools.get_web_str("ass_finish_estimation")%>    "  onclick="doSubmit_vote('<%=_participant.PrimaryKey%>')" class="inputButton" onMouseOver="this.className='inputButtonOver';" onMouseOut="this.className='inputButton';"></p> 
        <%                    
                        }
                    }
                }
                else
                {
        %>
                <table width="100%"  border="0" cellspacing="0" cellpadding="0"><tr><td width = "20%"><%=tools.get_web_str("c_com_general")%></td><td><%=_part.general_mark%></td></tr></table>
        <%                            
                }
                    break;
                    
                case 'com_all':
                    if ( _part.status_id == 'process')
                    {
                        curMark = null;	
                        counter = 0;     
                        for ( _mark in _part.marks )
        
                        {
                            _class = counter++ % 2 ? 'tableRowEven' : 'tableRowOdd';
                            if ( _mark.collaborator_id == curUserID )
                            { 
                                curMark = _mark;
                            } 
                        }                
                        _judge = ArrayOptFirstElem( ArraySelect( _judges, 'collaborator_id=='+curUserID));
                        if ( _judge != undefined )
                        {
                            _class = 'tableRowEven' ;
                            try
                            {
                                _mark_value = curMark.value;
                                _mark_desc = curMark.desc;
                            }
                            catch(ee)
                            {
                                _mark_value = 0;
                                _mark_desc = '';
                            }
                           
        %>
                              <table width="100%"  class='tableBorder' cellspacing="0" cellpadding="0">
                              <tr><td width = "20%" class="<%=_class%>"><%=curUser.fullname%></td>
        <%                                         
                            if ( _contest.combo )
                            {                    
        %>
                                <td class="<%=_class%>">
                                    <select name="combo_mark_value<%=_participant.PrimaryKey%>" id="combo_mark_value<%=_participant.PrimaryKey%>" style="width: 100px">
                                        <option selected value="0"></option>
        <%
                                    _value = Int( _contest.mark_min );
                                    while ( _value <= Int( _contest.mark_max ) )
                                    {
                                        if ( Int( _mark_value ) == Int( _value ) )
                                        {
        %>                        
                                            <option selected value="<%=_value%>"><%=_value%></option>                               
        <%
                                        }
                                        else
                                        {
        %>                        
                                            <option  value="<%=_value%>"><%=_value%></option>
        <%
                                        }
                                        _value++;
                                     }
        %>
                                    </select></td>
        <%
                            }
                            else
                            {                                                
        %>
        <td class="<%=_class%>"><input type="text" name="mark_value<%=_participant.PrimaryKey%>" id="mark_value<%=_participant.PrimaryKey%>" value="<%=_mark_value%>" size="30" class="inputEdit" onchange="checkValue(<%=_contest.mark_min%>,<%=_contest.mark_max%>)"/></td>
        <%	
                            }
        %>  
        <td class="<%=_class%>"><input type="text" name="mark_desc<%=_participant.PrimaryKey%>" id="mark_desc<%=_participant.PrimaryKey%>" value="<%=_mark_desc%>" size="100" class="inputEdit"/></td></tr>
                    </table>
                    
                    <p><input type=button  value="    <%=tools.get_web_str("vmv_submit")%>    " class="inputButton"  onclick="doSubmit('<%=_participant.PrimaryKey%>', '<%=_participant.status_id%>')" class="inputButton" onMouseOver="this.className='inputButtonOver';" onMouseOut="this.className='inputButton';">
    <%
           if ( _judge_main != undefined )
           {
                if ( curUserID == _judge_main.collaborator_id )
                {

    %>
                       <input type=button  value="   <%=tools.get_web_str("ass_finish_estimation")%>    "  onclick="doSubmit_vote('<%=_participant.PrimaryKey%>')" class="inputButton" onMouseOver="this.className='inputButtonOver';" onMouseOut="this.className='inputButton';">
    <%
       		    }
           }
    %>
			    </p> 
        <%	
                        }
                        else
                        {
    %>
						    </table>
    <%                    
                        }                    
                    }
                    else if (_part.status_id != 'plan' )
                    {
        %>

                    <table width="100%"  border="0" cellspacing="0" cellpadding="0" class="tableBorder">
                        <tr>
                            <td  bgcolor="silver" width="20%"><b><%=tools.get_web_str("c_coll")%></b></td>
                            <td  bgcolor="silver" width="20%"><b><%=tools.get_web_str("vkb_work_assessment")%></b></td>
                            <td  bgcolor="silver"><b><%=tools.get_web_str("c_comment")%></td>
                        </tr>
        <%  				
                        counter = 0;     
                        for ( _mark in _part.marks )
                        {
                            _class = counter++ % 2 ? 'tableRowEven' : 'tableRowOdd';
        %>
                                <tr><td class="<%=_class%>"><%=_mark.person_fullname%></td><td class="<%=_class%>"><%=_mark.value%></td><td class="<%=_class%>"><%=_mark.desc%></td></tr>
        <%      
        
                        } 
        %>
                        </table>
        <%                
                    }
                    break;
                    
                case 'voting':
                    if ( _part.status_id == 'process')
                    {	
                	    curMark = null;		
                        counter = 0;     
                        for ( _mark in _part.marks )
                        {
                            _class = counter++ % 2 ? 'tableRowEven' : 'tableRowOdd';
                            if ( _mark.collaborator_id == curUserID )
                            {
                                curMark = _mark;
                            } 
                        } 
                        _class = counter++ % 2 ? 'tableRowEven' : 'tableRowOdd';
                        _mark_value = 0;
                        _mark_desc = '';
                        try
                        {
                            _mark_value = curMark.value;
                            _mark_desc = curMark.desc;
                        }
                        catch(ee)
                        {
                            _mark_value = 0;
                            _mark_desc = '';
                        }
        %>
                            <table width="100%"  border="0" cellspacing="0" cellpadding="0" class="tableBorder">
                                <tr>
                                    <td  bgcolor="silver" width="20%"><b><%=tools.get_web_str("c_coll")%></b></td>
                                    <td  bgcolor="silver" width="20%"><b><%=tools.get_web_str("vkb_work_assessment")%></b></td>
                                    <td  bgcolor="silver"><b><%=tools.get_web_str("c_comment")%></td>
                                </tr>
                                <tr><td width = "20%" class="<%=_class%>"><%=curUser.fullname%></td>
        <%                                         
                            if ( _contest.combo )
                            {                    
        %>
                                <td class="<%=_class%>">
                                    <select name="combo_vote_value<%=_participant.PrimaryKey%>" id="combo_vote_value<%=_participant.PrimaryKey%>">
                                        <option selected value="0"></option>
        <%
                                    _value = Int( _contest.mark_min );
                                    while ( _value <= Int( _contest.mark_max ) )
                                    {
                                        if ( Int( _mark_value ) == Int( _value ) )
                                        {
        %>                        
                                            <option selected value="<%=_value%>"><%=_value%></option>                               
        <%
                                        }
                                        else
                                        {
        %>                        
                                            <option  value="<%=_value%>"><%=_value%></option>
        <%
                                        }
                                        _value++;
                                     }
        %>
                                    </select></td>
        <%
                            }
                            else
                            {                                                
        %>
        <td class="<%=_class%>"><input type="text" name="vote_value<%=_participant.PrimaryKey%>" id="vote_value<%=_participant.PrimaryKey%>" value="<%=_mark_value%>" size="30" class="inputEdit" onchange="checkValue(<%=_contest.mark_min%>,<%=_contest.mark_max%>)"/></td>
        <%	
                            }
        %>  
        <td class="<%=_class%>"><input type="text" name="vote_desc<%=_participant.PrimaryKey%>" id="vote_desc<%=_participant.PrimaryKey%>" value="<%=_mark_desc%>" size="100" class="inputEdit"/></td></tr>
                    </table>
                     
                    <p><input type=button  value="    <%=tools.get_web_str("vmv_submit")%>    " class="inputButton"  onclick="doSubmit('<%=_participant.PrimaryKey%>', '<%=_participant.status_id%>')" class="inputButton" onMouseOver="this.className='inputButtonOver';" onMouseOut="this.className='inputButton';"><%
           if ( _judge_main != undefined )
           {
                if ( curUserID == _judge_main.collaborator_id )
                {

    %>
                       <input type=button  value="   <%=tools.get_web_str("ass_finish_estimation")%>    "  onclick="doSubmit_vote('<%=_participant.PrimaryKey%>')" class="inputButton" onMouseOver="this.className='inputButtonOver';" onMouseOut="this.className='inputButton';">
    <%
       		    }
           }
    %></p> 
        <%	
			    }
        	    break;                   
            }
        
        }
    }
    if ( _contest.status_id == 'assessment' )
    {
    %>	
            <br/>
<%            
           if (_contest.show_marks && ArrayOptFirstElem(curObject.marks)!=undefined)
            {
%>
			<table width="100%"  border="0" cellspacing="0" cellpadding="0" class="tableBorder">
            	<tr>
                    <td  bgcolor="silver" width="20%"><b><%=tools.get_web_str("c_coll")%></b></td>
                    <td  bgcolor="silver" width="20%"><b><%=tools.get_web_str("vkb_work_assessment")%></b></td>
                    <td  bgcolor="silver"><b><%=tools.get_web_str("c_comment")%></td>
                </tr>
<%  				
				counter = 0;     
            	for ( _cur_mark in curObject.marks )
                {
                	_class = counter++ % 2 ? 'tableRowEven' : 'tableRowOdd';
%>
						<tr><td class="<%=_class%>"><%=_cur_mark.person_fullname%></td><td class="<%=_class%>"><%=_cur_mark.value%></td><td class="<%=_class%>"><%=_cur_mark.desc%></td></tr>
<%      

                } 
%>
				</table>
				<br/>
<%                
            }
%>            
            <table width="40%"  border="0" cellspacing="5" cellpadding="0">
                    <tr>
                        <td   width="50%"><b><%=tools.get_web_str("c_rating")%></b></td>
                        <td   width="50%"><b><%=tools.get_web_str("c_contest_place")%></b></td>
                    </tr>	
    <%
        _judges = _contest.judges;
        _judge_main = ArrayOptFirstElem( ArraySelect( _judges, 'main == true'));
        if ( curUser.access.access_role == 'admin'  ||  ( _judge_main != undefined && curUserID == _judge_main.collaborator_id ) )
        {
    %>    
                    <tr>
                        <td><input type="text" name="rating" id="rating" value="<%=_part.rating%>" size="30" class="inputEdit"/></td>
                        <td><input type="text" name="place" id="place" value="<%=_part.place%>" size="30" class="inputEdit"/></td>
                    </tr>
                    </table>	
                    <p><input type=button  value="    <%=tools.get_web_str("c_save")%>    " class="inputButton"  onclick="doSubmit('<%=_participant.PrimaryKey%>', '<%=_participant.status_id%>')" class="inputButton" onMouseOver="this.className='inputButtonOver';" onMouseOut="this.className='inputButton';"></p>
    <%                    
        }
        else
        {
    %>    
                    <tr>
                        <td><%=_part.rating%></td>
                        <td><%=_part.place%></td>
                    </tr>
                    </table>	
    <% 
        }
    
    }
    else if (_contest.show_rating)
    {
            %>    
                  <table width="40%"  border="0" cellspacing="5" cellpadding="0">
                    <tr>
                        <td   width="50%"><b><%=tools.get_web_str("c_rating")%></b></td>
                        <td><%=_part.rating%></td>
                    </tr>
                  </table>	
    <% 
    }
%>
	</td></tr></table></td></tr>
<%
    
    }
%>
</table>
</FORM>