<%
Server.Execute( 'include/user_init.html' );
_sid = tools.get_sum_sid( curUserID );
nickError = "";
avatarError = "";
Server.Execute( "personal_info_save.html" );

_nick = ( curUser.personal_config.nick.HasValue ) ? curUser.personal_config.nick : '';
_avatar_url = ( curUser.personal_config.avatar_filename.HasValue ) ? curUser.personal_config.avatar_filename : '';

%>
<script type="text/JavaScript">
<!-- Begin
function TestFileType( fileName, fileTypes ) 
{
	if ( !fileName ) return;

	dots = fileName.split( "." );
	//get the part AFTER the LAST period.
	fileType = "." + dots[dots.length-1];

	return ( fileTypes.join( "." ).indexOf( fileType ) != -1 ) ? true : false;
}
// -->
</script>

		
    	<FORM NAME="form1" action="view_doc.html?mode=personal_info&doc_id=<%=curDocID%>" METHOD="post" enctype="multipart/form-data">
				<INPUT TYPE="HIDDEN" NAME="user_id" VALUE="<%=curUserID%>"/>
				<INPUT TYPE="HIDDEN" NAME="sid" VALUE="<%=_sid%>"/>
         <TABLE WIDTH="100%" BORDER="0" CELLSPACING="2" CELLPADDING="0">
<% 
          if (avatarError != "") 
		  {
%>
          <TR>
           <TD CLASS="registerLeftTD">&nbsp;</TD>
           <TD CLASS="registerRightTD"><FONT COLOR="RED"><%= avatarError %></FONT></TD>
					</TR>
<%
          }
%>
          <TR>
           <TD CLASS="registerLeftTD"><%=tools.get_web_str('upi_avatar')%>:</TD>
           <TD CLASS="registerRightTD">
<% 
            if (_avatar_url != '') {
%>
              <IMG SRC="avatars/<%=_avatar_url%>"/><a href="view_personal_info_body.html?remove_avatar=1&doc_id=<%=curDocID%>"><%=tools.get_web_str('c_delete')%></a>
<%
            }
%>
            <INPUT TYPE="file" NAME="filename" STYLE="width:150px;" CLASS="inputEdit" VALUE=""><br>
            <%=tools.get_web_str("upi_avatar_notes")%>
           </TD>
          </TR>
<% 
          if (nickError != "") {
%>
          <TR>
           <TD CLASS="registerLeftTD">&nbsp;</TD>
           <TD CLASS="registerRightTD"><FONT COLOR="RED"><%= nickError %></FONT></TD>
					</TR>
<%
          }
%>
          <TR>
           <TD CLASS="registerLeftTD"><%=tools.get_web_str('upi_nick')%>:</TD>
           <TD CLASS="registerRightTD">
            <INPUT TYPE="text" NAME="nick" STYLE="width:150px;" CLASS="inputEdit" VALUE="<%=_nick%>">
           </TD>
          </TR>
          <TR>
           <TD CLASS="registerLeftTD">&nbsp;</TD>
           <TD CLASS="registerRightTD">
            <input value="<%=tools.get_web_str('c_save')%>" onclick="this.form.submit();" type="button">
           </TD>
          </TR>
         </TABLE>
		 	</FORM>
