<%
_cancel = false;
try
{
	curPAID = Int(Request.QueryString.pa_id);
	curPA = OpenDoc( UrlFromDocID( curPAID ) ).TopElem;
}
catch(_vot_zaraza_)
{
	Response.Write("<center><b>" + tools.get_web_str("vrb_no_pa_text") + "</b></center>");
	_cancel = true;
}

if (!_cancel)
{
	if (Request.QueryString.HasProperty("is_post"))
		is_post = Request.QueryString.is_post;
	else
		is_post = "";

	try
	{
		if ( is_post != "1" && StrContains(_PRIVATE_PAS , curPAID) == false)
			throw "Kuda lezesh, gad!";
	}
	catch(_gik_)
	{
		Response.Write("<center><b>" + tools.get_web_str("vrb_message1") + "</b></center>");
		_cancel = true;
	}
	IS_HUMAN = !curPA.flag_appraise_department;

	try
	{
		_use_plan = curAssessmentAppraise.flag_use_plan;
		_temp_assessment_plan = ArrayOptFirstElem(XQuery( "for $assessment_plan in assessment_plans where " + (IS_HUMAN ? "$assessment_plan/person_id = " + curPA.person_id : "$assessment_plan/department_id = " + curPA.department_id) + " and $assessment_plan/assessment_appraise_id = " + curAssessmentAppraiseID + " return $assessment_plan" ));

		if (_use_plan)
		{
			curAssessmentPlanID = _temp_assessment_plan.id;
			curAssessmentPlan = OpenDoc( UrlFromDocID( curAssessmentPlanID ) ).TopElem;	
		}
		else
		{
			curAssessmentPlanID = curPAID;
			curAssessmentPlan = curPA;
		}
	}
	catch(_oblom_)
	{
		Response.Write(alert("Assessment plan not found..."));
		//Cancel();
		_cancel = true;
	}
}

if (!_cancel)
{
	Server.Execute( "view_assessment_access_variables.html" );   

	if (_cur_assessment_appraise_type != undefined && _cur_assessment_appraise_type.type_title.HasValue)
		_type_title = _cur_assessment_appraise_type.type_title;
	else
		_type_title = tools.get_web_str("ass_competences");

%>
		<TABLE width="100%" border="0" cellspacing="0" cellpadding="3">
		<TR>
			<TD align="center">
				<FONT class=""><B><%=tools_web.get_cur_lng_name(_type_title, curLng.short_id)%></B></FONT>
			</TD>					
		</TR>
		</TABLE>
<%
    Server.Execute("view_assessment_header.html");
	WF_FORM_TOP = "top";
	Server.Execute("view_assessment_workflow_buttons.html");
%>		

<script language="JavaScript">
function checkkey(srcobj, keycode)
{			
	if ((keycode<48 || keycode>57)& keycode!=46) return false;			
	if (keycode==46) if(srcobj.value.indexOf('.') >= 0) return false;	
	return true;
}

function checkkeyInt()
{			
	var srcobj = event.srcElement;
	var keycode=event.keyCode;
	if ((keycode<48 || keycode>57)) return false;						
	return true;
}
</script>

<script language="JavaScript" src="scripts/tooltip/wz_tooltip_late.js"></script>

<%
	if (is_post == "1")  //is_pos  start
	{
		if ( Request.QueryString.HasProperty("wfbutt"))
			_wfbutt = Request.QueryString.GetProperty("wfbutt")
		else
			_wfbutt = undefined;
		
		try
		{
			_save_message = Session.assessment_save_msg;
			Session.assessment_save_msg = "";
			if (_save_message == "" || _save_message == null || _save_message == undefined)
				throw "bez_slov";
		}
		catch(_bez_slov_)
		{
			_save_message = "";
		}
		
		if (_wfbutt == undefined || _save_message != "")
		{
%>
<p>
<center><b><%=(_save_message != "" ? HtmlEncode(_save_message) : tools.get_web_str("c_form_save"))%></b></center>
</p>
<%
		}
		
		
		if( _use_plan && (_wfbutt == curAssessmentPlan.workflow_state || _wfbutt == undefined))
		{
			_href=null;
			if (IS_DONE == false)
			for (_temp_pa in _temp_pas)
			{
			if (Int(Request.QueryString.pa_id) != _temp_pa.id && StrContains(_PRIVATE_PAS, _temp_pa.id))
				if (!_temp_pa.is_done) 
					{ 
					_href = "view_doc.html?mode=assessment_appraise&doc_id=" + curDocID +"&pa_id="+_temp_pa.id + "&assessment_appraise_id=" + curAssessmentAppraiseID + "&assessment_appraise_type=" + _temp_pa.assessment_appraise_type;
					 break;
					}
			}
			
			if (_href == null && curAssessmentPlan.status == curPA.status && (!curAssessmentPlan.is_done) && StrContains(_PRIVATE_PAS, curAssessmentPlanID) )
			{		
				_href = "view_doc.html?mode=assessment_appraise&doc_id=" + curDocID +"&pa_id="+curAssessmentPlanID + "&assessment_appraise_id=" + curAssessmentAppraiseID + "&assessment_appraise_type=result";			
			}	
			
			if (_href != null)
			{
%>		
	<center><a class="asLink" href="<%=_href%>"><%=tools.get_web_str("ass_go_to_next_form")%> &raquo;</a></center>
<%		
			}
		}
		_cancel = true;
	}
}

if (!_cancel) // _cancel start
{
//*************************************************************************************************

function extract_mark(_pa_topelem_, _competence_id_, _competence_doc_)
{
	_mmmarrrk = '';
	_mmval = null;
	
	if (_pa_topelem_ != null)
	{
		_temp_comp = _pa_topelem_.competences.GetOptChildByKey(_competence_id_);
		if (_temp_comp != undefined)
		{	
			try
			{
				_appraise_competence_adv = curAssessmentAppraise.participants.GetChildByKey(_pa_topelem_.status).assessment_appraise_types.GetChildByKey(Request.QueryString.assessment_appraise_type).flag_02;
			}
			catch(_hui_)
			{
				_appraise_competence_adv = "basic";
			}
		
			if (_appraise_competence_adv == "basic" )
			{
				if (_temp_comp.mark == "N")
				{
					_mmmarrrk = "N";
				}
				else
					for (_scale in _competence_doc_.scales )
					{
							if (_temp_comp.mark == _scale.PrimaryKey)
							{
								_mmmarrrk = tools_web.get_cur_lng_name(_scale.name, curLng.short_id);
								_mmval = _scale.ChildIndex + _incrementation;
							}
					}
			}
			
			if (_appraise_competence_adv == "comp_by_ind" || _appraise_competence == "comp_by_ind")
			{
				_mmmarrrk = _temp_comp.mark + '';
				_mmval = _temp_comp.mark + _incrementation;
			}
		}
	}
	
	_mmmarkarr = Array();
	_mmmarkarr[0] = _mmmarrrk;
	_mmmarkarr[1] = _mmval;
	
	return _mmmarkarr;
}

//*************************************************************************************************

_manager_show_columns = tools_ass.get_assessment_parameter(curAssessmentAppraise, STATUS, "manager_marks_column");
_show_additional_columns = tools_ass.get_assessment_parameter(curAssessmentAppraise, STATUS, "show_additional_column");

_show_n = tools_ass.get_assessment_parameter(curAssessmentAppraise, STATUS, "Nchecked");
_hide_fields = tools_ass.get_workflow_state_parameter(_curState, "hide_fields");
if (_hide_fields == undefined)
	_hide_fields = Array();
else
	_hide_fields = String(_hide_fields).split(",");

if (ArrayOptFind(_hide_fields, "This == 'competence_mark'") != undefined)
	_mark_hide = "none";
else
	_mark_hide = "inline";

_form_hide = (ArrayOptFind(_hide_fields, "This == 'competence_form'") != undefined)
	 
_what2submit_hide = (ArrayOptFind(_hide_fields, "This == 'competence_submit_script'") != undefined);
var bhierBlocks = (tools_ass.get_workflow_state_parameter(_curState, "competence_hier_blocks") == "1");
SUPPLEMENTARY_INDEXER = 0;

try
{
	_cur_assessment_appraise_type = curAssessmentAppraise.participants.GetChildByKey(curPA.status).assessment_appraise_types.GetChildByKey(Request.QueryString.assessment_appraise_type);
}
catch(_hui_)
{
	_cur_assessment_appraise_type = undefined;	
}

if (_cur_assessment_appraise_type != undefined)
{
	_appraise_competence = _cur_assessment_appraise_type.flag_02;
	_scale_view = (_cur_assessment_appraise_type.flag_03.HasValue ? _cur_assessment_appraise_type.flag_03 : 0);

	if (_cur_assessment_appraise_type.flag_04.HasValue)
		_show_participant_statistic = _cur_assessment_appraise_type.flag_04;
	else
	 	_show_participant_statistic = undefined;
		
	if ( _cur_assessment_appraise_type.is_formuled_result )
		_formuled_result = _cur_assessment_appraise_type.advanced_columns_formula;
	else
		_formuled_result = undefined;
	
	_is_formuled_result_readonly = _cur_assessment_appraise_type.is_formuled_result_readonly;
	_incrementation = _cur_assessment_appraise_type.incrementation;
	_comments = _cur_assessment_appraise_type.flag_06;
}
else
{
	_appraise_competence = "basic";
	_scale_view = 0;
	_show_participant_statistic = undefined;
	_formuled_result = undefined;
	_is_formuled_result_readonly = false;
	_incrementation = 0;
	_comments = false;
}

// ------------ WORKFLOW-FIELDS -------------------
var workflow_fields = Array();
var wfid = 0;
for (_wf_group in curWorkflow.field_groups)
{
	if ( _wf_group.read_conditions.condition_eval_str == "" || eval( _wf_group.read_conditions.condition_eval_str) )
	{
		_field_group = ArraySelect( curWorkflow.workflow_fields, "field_group_id == _wf_group.PrimaryKey");
	
		if (ArrayCount(_field_group) > 0)
		{
			if ( _wf_group.write_conditions.condition_eval_str == "" || eval( _wf_group.write_conditions.condition_eval_str) )
				_use_dirty_fingers = true;
			else
				_use_dirty_fingers = false;
		
			for (_fg in _field_group)
			{
				workflow_fields[wfid] = new Object;
				workflow_fields[wfid].field = _fg;
				workflow_fields[wfid].is_modify = _use_dirty_fingers;
				workflow_fields[wfid].index = wfid;
				wfid = wfid + 1;
			}
		}
	}
}

function drill_select(_DRILL_PACK, _E_NODE, _E_PACK, _E_IDX)
{
	try
    {
        if (_E_IDX == ArrayCount(_E_PACK) - 1)
        {
            _DRILL_PACK[ArrayCount(_DRILL_PACK)] = eval( (_E_NODE != null ? '_E_NODE' : '') + _E_PACK[_E_IDX]);
        }
        else
        {
            _e_new = eval((_E_NODE != null ? '_E_NODE' : '') + _E_PACK[_E_IDX]);
            for (_e_new_item in _e_new)
            {
                _DRILL_PACK = drill_select(_DRILL_PACK, _e_new_item, _E_PACK, _E_IDX + 1);
            }
        }
    }
    catch(_mrmr_)
    {}
	return _DRILL_PACK;
}

function get_wf_html(_src, _idx, _td_style)
{
	for (_wf in workflow_fields)
	{
		_extra_identifier = "extra_" + _wf.field.name + "$" + _src.Name + "_" + _idx;

%>
		<td id="td_<%=(_extra_identifier)%>" name="td_<%=(_extra_identifier)%>" <%=_td_style%>>
			<input TYPE="hidden" id="name_<%=(_extra_identifier)%>" name="name_<%=(_extra_identifier)%>" value="<%=_wf.field.name%>$$$$<%=_wf.field.field_group_id%>$$$$<%=_wf.field.type%>$$$$<%=(HtmlEncode(_wf.field.title))%>"/>							
<%
				_curwf = _src.workflow_fields.ObtainChildByKey(_wf.field.name);
				
				if (_wf.is_modify)
				{
					switch (_wf.field.type)
					{
						case "string":
							_RESP_VAL = '<input TYPE="text" style="width: 300px" class="inputEdit" id="value_' + _extra_identifier + '" name="value_' + _extra_identifier + '" value="' + HtmlEncode(_curwf.value) + '"/>';
							break;
						case "integer":
							_RESP_VAL = '<input TYPE="text" style="width: 60px" class="inputEdit" id="value_' + _extra_identifier + '" name="value_' + _extra_identifier + '" value="' + HtmlEncode(_curwf.value) + '" onKeyPress="return checkkeyInt();"/>';
							break;
						case "real":
							_RESP_VAL = '<input TYPE="text" style="width: 60px" class="inputEdit" id="value_' + _extra_identifier + '" name="value_' + _extra_identifier + '" value="' + HtmlEncode(_curwf.value) + '" onKeyPress="return checkkey(this,window.event.keyCode);"/>';
							break;
						case "date":
							_RESP_VAL = '<input type="text" style="width: 70px" id="value_' + _extra_identifier + '" name="value_' + _extra_identifier + '"  value="' + _curwf.value + '" class="inputEdit" readonly><a class="asLink" href="#"  tn="value_' + _extra_identifier + '" onClick="var h=0; var offP = this.offsetParent; while(offP.id != \'main_block\' && offP.tagName.toUpperCase()!=\'BODY\') {h+=offP.offsetTop; offP = offP.offsetParent;} ; showCalendar(this, document.getElementById(\'value_' + _extra_identifier + '\'), \'dd.mm.yyyy\',\'ru\',1, null, h + 40); return false;" id="cal' + _extra_identifier + '" name="cal' + _extra_identifier + '"><img src="scripts/calendar/calendar.gif" width="24" height="22" border="0" align="absmiddle" /></a>';
							break;
						case "bool":
							_RESP_VAL = '<input type="checkbox" style="width: 15px" id="value_' + _extra_identifier + '" name="value_' + _extra_identifier + '" value="' + _curwf.value + '" onclick="if (this.checked) this.value=1; else this.value=0;" ' + (Trim(_curwf.value) == "1" ? "checked" : "") + '/>';
							break;
						case "combo":
							_RESP_VAL = '<select id="value_' + _extra_identifier + '" name="value_' + _extra_identifier + '"><option value="">&nbsp;</option>';
							for (_ent in _wf.field.entries)
                            {
                                _reload_val = HtmlEncode(_ent.value);
                                if (StrBegins(_reload_val , "@"))
                                {
                                    _reload_val = String(_reload_val).slice(1);
                                    _reload_val =_reload_val.split("[]");
                                    
                                    _drill_response = drill_select(Array(), null, _reload_val, 0);
                                    for (_dr in _drill_response)
                                    {
                                        if (HtmlEncode(_dr) == _curwf.value)
                                            _RESP_VAL = _RESP_VAL + '<option value="' + HtmlEncode(_dr) + '" selected>' + HtmlEncode(_dr) + '</option>';
                                        else
                                            _RESP_VAL = _RESP_VAL + '<option value="' + HtmlEncode(_dr) + '">' + HtmlEncode(_dr) + '</option>';
                                    }
                                }
                                else
                                {
                                if (_reload_val == _curwf.value)
                                    _RESP_VAL = _RESP_VAL + '<option value="' + _reload_val + '" selected>' + _reload_val + '</option>';
                                else
                                    _RESP_VAL = _RESP_VAL + '<option value="' + _reload_val + '">' + _reload_val + '</option>';
                                }
                            }
							_RESP_VAL = _RESP_VAL + '</select>';
							break;
						default:
							_RESP_VAL = '<textarea id="value_' + _extra_identifier + '" name="value_' + _extra_identifier + '" class="commonTextarea" >' + _curwf.value + '</textarea>';
							break;
					}
					Response.Write(_RESP_VAL);
				}
				else
				{
%>
					<input TYPE="hidden" id="value_<%=(_extra_identifier)%>" name="value_<%=(_extra_identifier)%>" value="<%=(_curwf.value)%>"/><%=(_curwf.value)%>
<%
				}
%>
		</td>
<%
	}
}

// ------------ -------- -------------------
_self_pa = null;
_manager_pa = null;

try
{
	if ((_manager_show_columns || _formuled_result != undefined) && (curPA.status == "manager" || curPA.status == "interview"))
	{
		_temp_self_pa = ArrayFirstElem(XQuery( "for $pa in pas where " + (IS_HUMAN ? "$pa/person_id = " + curPA.person_id : "$pa/department_id = " + curPA.department_id) + " and $pa/assessment_appraise_id = " + curAssessmentAppraiseID + " and $pa/status = 'self' and $pa/assessment_appraise_type = '" + curPA.assessment_appraise_type + "' return $pa" ));

		_self_pa = OpenDoc( UrlFromDocID( _temp_self_pa.id ) ).TopElem;

		if (curPA.status == "interview")
		{
			_temp_manager_pa = ArrayFirstElem(XQuery( "for $pa in pas where " + (IS_HUMAN ? "$pa/person_id = " + curPA.person_id : "$pa/department_id = " + curPA.department_id) + " and $pa/assessment_appraise_id = " + curAssessmentAppraiseID + " and $pa/status = 'manager' and $pa/assessment_appraise_type = '" + curPA.assessment_appraise_type + "' return $pa" ));

			_manager_pa = OpenDoc( UrlFromDocID( _temp_manager_pa .id ) ).TopElem;
		}
	}		
}
catch(_uuuublin_)
{
	//alert(_uuuublin_);
}

if(_show_additional_columns)
{
	_temp_additional_pas = XQuery( "for $pa in pas where " + (IS_HUMAN ? "$pa/person_id = " + curPA.person_id : "$pa/department_id = " + curPA.department_id) + "and $pa/assessment_appraise_id = " + curAssessmentAppraiseID + " and $pa/status != '" + STATUS + "' and $pa/assessment_appraise_type = '" + curPA.assessment_appraise_type + "' return $pa" );
			
	_add_pas = new Array();
	_var = 0;
	
	if (_self_pa != null)
	{
		_add_pas[_var] = _self_pa;
		_var++;
	}
	if (_manager_pa != null)
	{
		_add_pas[_var] = _manager_pa;
		_var++;
	}
	
	for ( _temp_additional_pa in _temp_additional_pas)
	{
		if(_temp_additional_pa.status != "self" && _temp_additional_pa.status != "manager")
		{
			_add_pas[_var] = OpenDoc(UrlFromDocID(_temp_additional_pa.PrimaryKey)).TopElem;
			_var++;
		}
	}	
}

	if (_show_participant_statistic != undefined)
	{
%>
		<table width="60%" align="center" cellspacing="0" border="1">
			<tr bgcolor="silver">
				<th colspan="3"><%=common.assessment_appraise_participants.GetChildByKey(_show_participant_statistic).name%></th>
			</tr>
			<tr bgcolor="silver">
				<th width="20px"> # </th>
				<th width="80px"><%=tools.get_web_str("veresb_score")%></th>
				<th><%=tools.get_web_str("c_comment")%></th>
			</tr>
<%
		_stat_pas = XQuery(( "for $pa in pas where " + (IS_HUMAN ? "$pa/person_id = " + curPA.person_id : "$pa/department_id = " + curPA.department_id) + " and $pa/assessment_appraise_id = " + curAssessmentAppraiseID + " and $pa/status = '" + _show_participant_statistic + "' return $pa" ));
		_index=0;
		
		for (_stat_pa in _stat_pas)
		{
			_index++;
			_paDoc = OpenDoc(UrlFromDocID(_stat_pa.id)).TopElem;
%>		
			
			<tr>
				<td align="center"><%=_index%></td>
				<td><%=_paDoc.overall%></td>
				<td><%=_paDoc.comment%></td>
			</tr>
<%
		}
%>	
		</table>
<%
	}

	if (ArrayCount(workflow_fields) > 0)
	{
		if (curHostSettings.default_portal_type == "sharepoint")
		{
%>
<script language="javascript">
<!--
	var imgDir = '<%=curHostSettings.proxy_prefix%>/scripts/calendar/';
-->
</script>
<%
		}
%>
<script src="<%=(curHostSettings.default_portal_type == "sharepoint" ? curHostSettings.proxy_prefix + "/": "")%>scripts/calendar/calendar.js"></script>
<%
	}
	
	if (!_what2submit_hide)
	{
%>

<script language="javascript">
function whatToSubmit()
{
<%
	if (curAssessmentAppraise.is_comment_required)
	{
%>
		if (document.all.comment && document.all.comment.tagName.toLowerCase() == "textarea")
			if (document.all.comment.value == "")
			{
				window.alert("<%=HtmlEncode(tools.get_web_str("ass_message_please_fill_in_comment"))%>");
				return false;
			}
<%
	}
%>
	var o;
	var censor = document.all["isflawed"];
	var _log = "";
	var _name;
	var _value;
	if (document.all["comp_count"])
	if(!isNaN(parseInt(document.all["comp_count"].value)) && <%=(_mark_hide != "none")%>  )
	for(var i=0;i<parseInt(document.all["comp_count"].value);i++)
	{
		o = document.all["stneedvalue_"+i];
		_name = document.all["stelemname_"+i];
		if (_name != undefined)
			_name = _name.value;
		else
			_name = (i + 1);
		_value = undefined;
		
		if (o)
		if (o.value != undefined)
		{
			_value = o.value;
			if(_value=="") 
			{
				censor.value="1"; 
				_log += String("<%=HtmlEncode(tools_web.get_web_str("vcb_mark_not_defined"))%>").replace(/\{PARAM1\}/g, _name) + '\n';
			}
		}
		else
		{
			var k=0;
			var flawed_flag = true;
			while (o[k])
			{
				if (o[k].checked) {flawed_flag = false; _value = o[k].value; break;}
				k++;
			}
			
			if (flawed_flag)
			{
				censor.value="1";
				_log +=  String("<%=HtmlEncode(tools_web.get_web_str("vcb_log_message_foul_mark"))%>").replace(/\{PARAM1\}/g, _name) + '\n';
			}
		}
		<%
		if (_comments)
		{
		%>
			if (_value != "")
			{
				var _urgent_list = document.getElementById("stdieforcomment_"+i);
				if (_urgent_list != undefined)
				if (_urgent_list.value.indexOf(_value) >= 0 && document.all["compcomment_" + i].value.length == 0)
				{
					censor.value="1"; 
					_log += String('<%=tools.get_web_str("vcb_log_message_foul_comment")%>').replace(/\{PARAM1\}/g, _name) + '\n';
				}
			}
		<%
		}
		%>
	}
	i=0;
	
	n = 0;
	var stqObj;
	while (document.all["stq_id_" + n] != undefined)
	{
		stqObj = $("#supplementary_table input[name='stq_requered_" + n+"']");
		if (stqObj.val() == "1")
		{
			stqObj = $("#supplementary_table [name='stq_mark_"+n+"']");
			if (stqObj.length > 0)
			{
				if (stqObj.val() == "")
				{
					_log += String('<%=tools.get_web_str("vcb_log_message_foul_stq")%>').replace(/\{PARAM1\}/g, (n + 1)) + '\n';
					censor.value = "1";
				}
			}
			else
			{
				stqObj = $("#supplementary_table input[parent_id='stq_mark_" + n+"']");
				if (stqObj.length > 0)
				{
					if (stqObj.filter(":checked").length == 0)
					{
						_log += String('<%=tools.get_web_str("vcb_log_message_foul_stq")%>').replace(/\{PARAM1\}/g, (n + 1)) + '\n';
						censor.value = "1";
					}
				}
			}
		}
		n++;
	}

	if (censor.value!="") window.alert("<%=tools.get_web_str("vrb_message2")%>\n\n" + _log);
	return true;
}
</script>
<%
	}
%>
					<form action="competence_save.html" name="f_switch" id="f_switch" method="POST">
					<p>
					<input type="hidden" name="doc_id" value="<%=curDocID%>"/>
					<input type="hidden" name="assessment_appraise_id" value="<%=curAssessmentAppraiseID%>"/>
					<input type="hidden" name="is_post" value="1"/>
					<input type="hidden" name="pa_id" value="<%=Request.QueryString.pa_id%>"/>
					<input type="hidden" name="isflawed" value=""/>
					<input type="hidden" name="assessment_appraise_type" value="<%=Request.QueryString.assessment_appraise_type%>"/>

					<input type="hidden" id="workflow_fields_names" name="workflow_fields_names" value="<%=ArrayMerge(workflow_fields, "This.field.name", ";")%>"/>
	
<%
	if (_cur_assessment_appraise_type != undefined)
	{
		try
		{
			Response.Write(tools_web.insert_custom_code(_cur_assessment_appraise_type.custom_web_template_id, null,true,false));
		}
		catch(_oi_)
		{}
		
		if(_cur_assessment_appraise_type.custom_post_web_template_id.HasValue)
		{
%>
			<input type="hidden" name="custom_post_web_template_id" value="<%=_cur_assessment_appraise_type.custom_post_web_template_id%>"/>
<%
		}
	}

	if (!_form_hide)
	{
%>
						<table width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="gray"><tr><td>
						<table width="100%" cellpadding="1" cellspacing="1" id="comp_data_table" style="visibility:<%=(_appraise_competence == "blind_by_ind" ? "hidden" : "visible")%>" border="0">

							<tr>
								<td bgcolor="silver">
									<%=tools.get_web_str("ass_competences")%>
								</td>
<%
							if (_manager_show_columns)
							{
								if (curPA.status == "manager" || curPA.status == "interview")
								{
%>
								<td bgcolor="silver" align="center" width="40px">
									<%=tools.get_web_str("ass_person_mark")%>
								</td>
<%
								}

								if (curPA.status == "interview")
								{
%>
								<td bgcolor="silver" align="center" width="40px">
									<%=tools.get_web_str("ass_boss_mark")%>
								</td>
<% 								} 
							}

	if (_show_additional_columns)
	{
		for (_participant in curAssessmentAppraise.participants)
		{
			if (_participant.PrimaryKey != "self" && _participant.PrimaryKey != "manager" && _participant.PrimaryKey != STATUS && ArrayCount(ArraySelect(_add_pas, "status== _participant.PrimaryKey")) > 0)
			{
%>					
								<td bgcolor="silver" align="center">
									<%=_participant.PrimaryKey.ForeignElem.name%>
								</td>
<%
			}
		}
	}
%>
								<td bgcolor="silver" align="center" style="display: <%=_mark_hide%>;">
									<%=tools.get_web_str("ass_mark")%>
								</td>
<%
									if (_comments)
									{
%>
								<td bgcolor="silver" align="center">
									<%=tools.get_web_str("c_comment")%>
								</td>
<%
									}

	for (_wf in workflow_fields)
	{
%>
		<td bgcolor="silver" width="80px" align="center"><%=tools_web.get_cur_lng_name(_wf.field.title, curLng.short_id)%></td>
<%
	}
%>
							</tr>
<!-- COMPETENCE REPEAT START -->
<%
i = 0;

if (curPA.status == "manager") _colspan=3;
else if (curPA.status == "interview") _colspan=4;
else _colspan=2;

	if (_show_additional_columns)
	{
		for (_participant in curAssessmentAppraise.participants)
		{
			if (_participant.PrimaryKey != "self" && _participant.PrimaryKey != "manager" && _participant.PrimaryKey != STATUS && ArrayCount(ArraySelect(_add_pas, "status== _participant.PrimaryKey")) > 0)
			{
				_colspan++;
			}
		}
	}

	_current_block_id = null;
	_block_id = null;
	var _aCurCompBlocks, _vBlockElem, _aCurCompetencePack, _iBlockLevel = 0;
	if (bhierBlocks)
	{
		var _aUsedComps = QueryCatalogByKeys("competences", "id", ArrayExtract(curPA.competences, "PrimaryKey"));
		_aCurCompBlocks = QueryCatalogByKeys("competence_blocks","id",ArrayExtract(ArraySelectDistinct(_aUsedComps, "competence_block_id"),"competence_block_id"));
		
		var aTempRowBranch,_catParentBlck,oBlockTempSmth,_sAntiRecursBI, iLastBlckId, _iBlckXX, _iparentLevel, aBlockDefInfo = Array();
		for (_vBlockElem in _aCurCompBlocks)
		{
			if (ArrayOptFind(aBlockDefInfo, "This.id" == _vBlockElem.PrimaryKey) == undefined)
			{
				iLastBlckId = _vBlockElem.PrimaryKey;
				aTempRowBranch = Array();
				aTempRowBranch[ArrayCount(aTempRowBranch)] = ({"id": iLastBlckId, "h":0, "parent":0});
				_catParentBlck = _vBlockElem.parent_object_id.OptForeignElem;
				_iparentLevel = 0;
				_sAntiRecursBI = "";
				while (_catParentBlck != undefined && !StrContains(_sAntiRecursBI, _catParentBlck.PrimaryKey))
				{
					oBlockTempSmth = ArrayOptFind(aBlockDefInfo, "This.id == " + _catParentBlck.PrimaryKey);
					if (oBlockTempSmth != undefined)
					{
						iLastBlckId = oBlockTempSmth.parent;
						_iparentLevel = oBlockTempSmth.h + 1;
						break;
					}
					else
					{
						iLastBlckId = _catParentBlck.PrimaryKey;
						_sAntiRecursBI += iLastBlckId + ";";
						aTempRowBranch[ArrayCount(aTempRowBranch)] = ({"id": iLastBlckId, "h":0, "parent":0});
						_catParentBlck = _catParentBlck.parent_object_id.OptForeignElem;
					}
				}
				oBlockTempSmth = ArrayCount(aTempRowBranch) - 1;
				for (_iBlckXX = 0; _iBlckXX <= oBlockTempSmth; _iBlckXX++)
				{
					_catParentBlck = aTempRowBranch[_iBlckXX];
					_catParentBlck.parent = iLastBlckId;
					_catParentBlck.h = (oBlockTempSmth - _iBlckXX) + _iparentLevel;
				}
				
				aBlockDefInfo = ArrayUnion(aBlockDefInfo, aTempRowBranch);
			}
		}
		_aCurCompBlocks = ArraySort(aBlockDefInfo, "parent", "+", "h", "+");
	}
	else
		_aCurCompBlocks = ([null]);
	
for (_vBlockElem in _aCurCompBlocks)
{
	if (_vBlockElem != null)
	{
		_iBlockLevel = _vBlockElem.h;
		_aCurCompetencePack = ArraySelect(curPA.competences, "ArrayOptFind(([" +ArrayMerge(ArraySelect(_aUsedComps,"This.competence_block_id.Value == " + _vBlockElem.id),"This.PrimaryKey",",")+ "]), 'This == ' + This.PrimaryKey) != undefined");
		if (ArrayOptFirstElem(_aCurCompetencePack) == undefined)
		{
			_catParentBlck = ArrayFirstElem(XQuery("for $elem in competence_blocks where $elem/id = " + _vBlockElem.id + " return $elem"));
			%>		
				<tr style="display:<%=(_appraise_competence == "blind_by_ind" ? "none" : "inline")%>">
					<td width="100%" bgcolor="lightgrey" colspan="<%=((_colspan +  (ArrayCount(workflow_fields) - (_mark_hide == "none" ? 1 : 0))) + (_comments ? 1 : 0))%>" style="padding: 0,<%=(_iBlockLevel*20)%>">
						<font size="+1"><%=_catParentBlck.name%></font>
					</td>	
				</tr>
			<%
		}
	}
	else
		_aCurCompetencePack = curPA.competences;
	
for (_competence in _aCurCompetencePack)
{
	try
	{
		competenceDoc = OpenDoc(UrlFromDocID(_competence.competence_id)).TopElem;
	}
	catch(_SHIIIIT_)
	{
		continue;		
	}

	_parentName = "stneedvalue_"+ i;
	_parentID = _competence.competence_id;
	
	_current_block_id = competenceDoc.competence_block_id;
	
	if (_current_block_id != _block_id )
	{
		_block_id = _current_block_id ;
		_block_catalog = competenceDoc.competence_block_id.OptForeignElem;
	%>
		
		<tr style="display:<%=(_appraise_competence == "blind_by_ind" ? "none" : "inline")%>">
			<td width="100%" bgcolor="lightgrey" colspan="<%=((_colspan +  (ArrayCount(workflow_fields) - (_mark_hide == "none" ? 1 : 0))) + (_comments ? 1 : 0))%>" style="padding: 0,<%=(_iBlockLevel*20)%>">
				<font size="+1"><%=(_block_catalog != undefined ? tools_web.get_cur_lng_name(_block_catalog.name, curLng.short_id) : tools_web.get_web_str("c_deleted"))%></font>
			</td>	
		</tr>
	<%
	
	}
	
	if (_scale_view == 0 || _scale_view == 1 || _appraise_competence == "comp_by_ind" || _appraise_competence == "blind_by_ind")
	{
%>
<tr style="display:<%=(_appraise_competence == "blind_by_ind" ? "none" : "inline")%>">
	<td width="100%" style="padding: 0,<%=(_iBlockLevel*20)%>" bgcolor="whitesmoke" <% if (competenceDoc.comment.HasValue) { %> onmouseover="Tip('<%=HtmlEncode(EvalCodePage(tools_web.get_cur_lng_name(competenceDoc.comment, curLng.short_id)))%>', SHADOW, true, BGCOLOR, 'whitesmoke');"<% } %>><font><b><a class="asLink" href="About" onClick="var id=window.open('view_window_indicator_info.html?type=competence&doc_id=<%=_competence.competence_id%>','About','scrollbars,resizable,width=760,height=500');id.focus();return false;"><%=tools_web.get_cur_lng_name(competenceDoc.name, curLng.short_id)%> </a></b></font></td>
<%
						if(_formuled_result != undefined || _manager_show_columns)
						{
							_self_array = extract_mark(_self_pa, _competence.competence_id, competenceDoc);
							_man_array = extract_mark(_manager_pa, _competence.competence_id, competenceDoc);
							
							if(_formuled_result != undefined)
							{
								_var_string = "";
							
								if (_self_array[1] != "" && _self_array[1] != "N")
								{
									_var_string = _var_string + "SELF_MARK = " + _self_array[1] + ";\n";
									_var_string = _var_string + "SELF_COUNT = 1.0;\n";
									_var_string = _var_string + "SELF_NA_COUNT = 0;\n";
								}
								else
								{
									_var_string = _var_string + "SELF_MARK = 0;\n";
									_var_string = _var_string + "SELF_COUNT = 0.0;\n";
									_var_string = _var_string + "SELF_NA_COUNT = 1;\n";
								}
								
								if (_man_array[1] != "" && _man_array[1] != "N")
								{
									_var_string = _var_string + "MANAGER_MARK = " + _man_array[1] + ";\n";
									_var_string = _var_string + "MANAGER_COUNT = 1.0;\n";
									_var_string = _var_string + "MANAGER_NA_COUNT = 0;\n";
								}
								else
								{
									_var_string = _var_string + "MANAGER_MARK = 0;\n";
									_var_string = _var_string + "MANAGER_COUNT = 0.0;\n";
									_var_string = _var_string + "MANAGER_NA_COUNT = 1;\n";
								}
							}
																			
							if (_manager_show_columns)
							{
								if (curPA.status == 'manager' || curPA.status == 'interview')
								{	
%>								
								<td bgcolor="whitesmoke" align="center">
									<%=ArrayFirstElem(_self_array)%>
								</td>								
<%
								}
								
								if (curPA.status == 'interview')
								{							
%>
								<td bgcolor="whitesmoke" align="center">
									<%=ArrayFirstElem(_man_array)%>
								</td>
								
<% 								} 
							}
						}
						
	if (_show_additional_columns)
	{
		for (_participant in curAssessmentAppraise.participants)
		{
			if (_participant.PrimaryKey != "self" && _participant.PrimaryKey != "manager" && _participant.PrimaryKey != STATUS)
			{
				_add_partic = ArraySelect(_add_pas, "status== _participant.PrimaryKey");
				_that_name = '';
				_that_mark = 0;
				_that_count = 0;
				_that_na_count = 0;
				
				for(_add_patric in _add_partic)
				{
					_that_arr = extract_mark(_add_patric, _competence.competence_id, competenceDoc);
					
					if (_that_arr[1] != null)
					{
						_that_mark = _that_mark + _that_arr[1];
						_that_name = _that_arr[0];
						_that_count++;
					}
					else if (_that_arr[0] == "N")
						_that_na_count++;
				}
				
				if (_that_count + _that_na_count > 0)
				{
				
%>
								<td bgcolor="white" align="center">
									<%=(  ArrayCount(_add_partic) == 1 && _participant.PrimaryKey == "staff" ? "x" :  (_that_count > 1 ? StrReal( (Real(_that_mark) / Real(_that_count)) , 2)  : _that_name )   )%>
								</td>
<%
				}
				
				
				if(_formuled_result != undefined)
				{
					_role_name = StrUpperCase(_participant.PrimaryKey);
					
					_var_string = _var_string + _role_name + "_MARK = " + _that_mark + ";\n";
					_var_string = _var_string + _role_name + "_COUNT = " + _that_count + ".0;\n";
					_var_string = _var_string + _role_name + "_NA_COUNT = " + Real(_that_na_count) + ";\n";
				}
			}
		}
	}
%>
	<td width="30%" bgcolor="whitesmoke" align="center" style="display: <%=_mark_hide%>">
	
	<input type="hidden" name="<%=("stid_"+ i)%>" value="<%=(_competence.competence_id)%>"/>
	<input type="hidden" name="<%=("stform_"+ i)%>" value="1"/>
	<input type="hidden" name="<%=("stparentid_"+ i)%>" value=""/>
	<input type="hidden" name="<%=("stelemname_"+ i)%>" value="<%=HtmlEncode(tools_web.get_cur_lng_name(competenceDoc.name, curLng.short_id))%>"/>
	<%
	if (_comments)
	{
	%>
		<input type="hidden" name="<%=("stdieforcomment_"+ i)%>" id="<%=("stdieforcomment_"+ i)%>" value="<%=ArrayMerge(ArraySelect(competenceDoc.scales, "comment_require == true"), "This.PrimaryKey", ";")%>"/>
	<%
	}
	
	if(_formuled_result != undefined)
	{
		if (IS_MODIFY)
		{
			_show_val = "";
			
			if (_competence.mark.HasValue && _is_formuled_result_readonly == false)
				_show_val = _competence.mark;
			else
			{
				try
				{
					eval(_var_string + ";\n _show_val = StrReal((" + _formuled_result + "), 2);");
				}
				catch(_her_)
				{
					_show_val = "";
				}
			}
			
			if( !_is_formuled_result_readonly )
			{
	%>
			<input type="text" name="<%=_parentName%>" class='inputEdit' style='width: 90%' value="<%=_show_val%>" onKeyPress='return checkkey(this,window.event.keyCode);'/>
	<%	
			}
			else
			{
				if (_show_val == "")
					_show_val = "N";
	%>
			<input type="hidden" name="<%=_parentName%>" value="<%=_show_val%>"/> <%=_show_val%>
	<%		
			}
		}
		else
		{
			Response.Write('<input type="hidden" name="' +_parentName + '" value="0"/>' + _competence.mark);
		}
	}
	else
	{
		if (_appraise_competence == "basic")
		{
			if (IS_MODIFY)
			{
			
	%>
		<select name="<%=_parentName%>">
			<option value=""> </option>
	<%
				if(_show_n) Response.Write('<option value="N"'+(_competence.mark =='N'? ' selected':'')+'>' + tools.get_web_str("ass_n_mark") +'&nbsp;</option>');
			
			}
			
				if (!IS_MODIFY && _competence.mark == "N")
					Response.Write(tools_web.get_web_str("ass_n_mark"));
				else
					for (_scale in competenceDoc.scales )
					{
							if (_competence.mark == _scale.PrimaryKey)
							{
								_selected_flag = "selected";
								if (!IS_MODIFY)
								{
									Response.Write(tools_web.get_cur_lng_name(_scale.name, curLng.short_id));
									break;
								}
							}
							else
							_selected_flag = "";
							if (IS_MODIFY)
							{
									Response.Write('<option '+_selected_flag+' value="'+_scale.PrimaryKey+'">'+tools_web.get_cur_lng_name(_scale.name, curLng.short_id)+'</option>\n');
							}
					}
			
			if (IS_MODIFY)
			{
	%>
		</select>
	<%
			}
		}
	
		if (_appraise_competence == "comp_by_ind" || _appraise_competence == "blind_by_ind")
		{
			Response.Write('<input type="hidden" name="' +_parentName + '" value="0"/>' +tools_web.get_cur_lng_name(_competence.mark, curLng.short_id));
		}
	}
	%>
	</td>
	<%
		if (_comments)
		{
	%>
			<td width="200px" bgcolor="whitesmoke" align="center">
			<%
				if (IS_MODIFY)
				{
			%>
				<textarea name="compcomment_<%=i%>" class="commonTextarea"><%=HtmlEncode(_competence.comment)%></textarea>
			<%
				}
				else
					Response.Write(HtmlEncode(_competence.comment));
			%>
			</td>
	<%
		}
	get_wf_html(_competence, i, 'width="30%" bgcolor="whitesmoke" align="center"');
	%>
	
	</tr>
<%
	}
	else if (_scale_view == 2)
	{
%>
		<tr>
						<td width="100%" bgcolor="white" colspan="<%=((_colspan - (_mark_hide == "none" ? 1 : 0)) + (_comments ? 1 : 0))%>" align="left">
						<table cellspacing="0" cellpadding="2">
						<tr>
						<td width="100%">
							<b><a class="asLink" href="About" onClick="var id=window.open('view_window_indicator_info.html?type=competence&doc_id=<%=_competence.competence_id%>','About','scrollbars,resizable,width=760,height=500');id.focus();return false;"><%=tools_web.get_cur_lng_name(competenceDoc.name, curLng.short_id)%> </a></b>
						</td>
						<td width="100px" align="center">
						<label style="width: 50px; background-color: lightgrey" id="scale_label_<%=i%>">
<%
							if (_competence.mark == 'N')
								Response.Write(tools.get_web_str("ass_n_mark"));
							else										
								for (_scale in competenceDoc.scales )
								{
										if (_competence.mark == _scale.PrimaryKey)
										{
											Response.Write(tools_web.get_cur_lng_name(_scale.name, curLng.short_id));
											break;
										}
								}
%>
						</label>
						</td>
<%
		if (IS_MODIFY)
		{
%>
						<td width="40px">
							<input type="button" id="scalebutton_<%=(i)%>" value="v" onclick="_table_switch(<%=i%>)" style="width: 20px" class="inputButton" onMouseOver="this.className='inputButtonOver';" onMouseOut="this.className='inputButton';"/>
						</td>
	<%
		}
		
		if (_comments)
		{
	%>
			<td width="200px" bgcolor="whitesmoke" align="center">
			<%
				if (IS_MODIFY)
				{
			%>
				<textarea name="compcomment_<%=i%>" class="commonTextarea"><%=HtmlEncode(_competence.comment)%></textarea>
			<%
				}
				else
					Response.Write(HtmlEncode(_competence.comment));
			%>
			</td>
	<%
		}
	%>
						</tr>
						</table>
						
						<input type="hidden" name="<%=("stid_"+ i)%>" value="<%=(_competence.competence_id)%>"/>
						<input type="hidden" name="<%=("stform_"+ i)%>" value="1"/>
						<input type="hidden" name="<%=("stparentid_"+ i)%>" value=""/>
						<input type="hidden" name="<%=("stelemname_"+ i)%>" value="<%=HtmlEncode(tools_web.get_cur_lng_name(competenceDoc.name, curLng.short_id))%>"/>
						<%
						if (_comments)
						{
						%>
							<input type="hidden" name="<%=("stdieforcomment_"+ i)%>" id="<%=("stdieforcomment_"+ i)%>" value="<%=ArrayMerge(ArraySelect(competenceDoc.scales, "comment_require == true"), "This.PrimaryKey", "")%>"/>
						<%
						}

						if (IS_MODIFY)
						{
						%>
						<table width="90%" align="center" cellpadding="5" id="<%=("scaletableid_"+ i)%>" style="display: none">
<%
						if(_show_n)
						{
%>
						<tr bgcolor="white" onmouseover="this.style.backgroundColor='lightgrey';" onmouseout="this.style.backgroundColor='white';" onclick="document.getElementById('<%=(_parentName + "_N")%>').checked = true; _table_switch(<%=i%>);">
							<td width="40">
								<input type="radio" name="<%=_parentName%>" id="<%=(_parentName + "_N")%>" value="N" namevalue="<%=HtmlEncode(tools.get_web_str("ass_n_mark"))%>" <%=(_competence.mark == "N" ? "checked" : "")%>/>
							</td>
							<td width="40%">
								<%=HtmlEncode(tools.get_web_str("ass_n_mark"))%>
							</td>
							<td width="60%">
								&nbsp;
							</td>
						</tr>
<%
						}
						
						for (_scale in competenceDoc.scales )
						{
							if (_competence.mark == _scale.PrimaryKey)
							{
								_selected_flag = "checked";
							}
							else
								_selected_flag = "";
%>
						<tr bgcolor="white" onmouseover="this.style.backgroundColor='lightgrey';" onmouseout="this.style.backgroundColor='white';" onclick="document.getElementById('<%=(_parentName + "_" + _scale.ChildIndex)%>').checked = true; _table_switch(<%=i%>);">
							<td width="40">
								<input type="radio" name="<%=_parentName%>" id="<%=(_parentName + "_" + _scale.ChildIndex)%>" value="<%=_scale.PrimaryKey%>" namevalue="<%=HtmlEncode(tools_web.get_cur_lng_name(_scale.name, curLng.short_id))%>" <%=_selected_flag%>/>
							</td>
							<td width="40%">
								<%=HtmlEncode(tools_web.get_cur_lng_name(_scale.name, curLng.short_id))%>
							</td>
							<td width="60%">
								<%=HtmlEncode(tools_web.get_cur_lng_name(_scale.desc, curLng.short_id))%>
							</td>
						</tr>
<%
						}
%>					
						</table>
<%
						}
%>
						</td>
					</tr>
<%		
	}
i++;
			if (_scale_view == 1 && ArrayCount(_competence.indicators) > 0 && _appraise_competence != "blind_by_ind")
			{
%>		
				<tr>
						<td width=100% bgcolor="white" colspan="<%=(_colspan +  ArrayCount(workflow_fields) - (_mark_hide == "none" ? 1 : 0))%>">
							<table width="100%" border="0" cellspacing="0" cellpadding="1">
								<tr>
									<th width="30%" align="center"><%=tools.get_web_str("ass_negative_mark")%></th>
									
									<th align="center"><%=tools.get_web_str("ass_scale")%></th>
									
									<th width="30%" align="center"><%=tools.get_web_str("ass_positive_mark")%></th>
								</tr>
							</table>
						</td>
				</tr>
<%		
			}

			for (_indicator in _competence.indicators)
			{
				try
				{
					indicatorDoc = OpenDoc(UrlFromDocID(_indicator.indicator_id)).TopElem;
				}
				catch(_SHIIIIT_)
				{
					continue;	
				}
			
				_indicatorName = "stneedvalue_"+ i;
				
				if (_scale_view == 0)
				{
%>
					<tr>
						<td width="100%" style="padding: 0,<%=(_iBlockLevel*20)%>" bgcolor="white" <% if (indicatorDoc.comment.HasValue) { %> onmouseover="Tip('<%=HtmlEncode(EvalCodePage(tools_web.get_cur_lng_name(indicatorDoc.comment, curLng.short_id)))%>', SHADOW, true, BGCOLOR, 'white');"<% } %>><a class="asLink" href="About" onClick="var id=window.open('view_window_indicator_info.html?type=indicator&doc_id=<%=_indicator.indicator_id%>','About','scrollbars,resizable,width=760,height=500');id.focus();return false;" ><font>  &nbsp; - &nbsp; <%=tools_web.get_cur_lng_name(indicatorDoc.name, curLng.short_id)%> </font></a></td>
<%
							if (_manager_show_columns)
							{
								if (curPA.status == "manager" || curPA.status == "interview")
								{							
									_mmmarrrk = "";
									
									if (_self_pa != null)
									{
																		
										try
										{
											_temp_comp = _self_pa.competences.GetChildByKey(_competence.competence_id);
										}
										catch(_blya_)
										{
											_temp_comp = null;
										}
										
										if (_temp_comp != null)
										{
											try
											{
												_temp_ind = _temp_comp.indicators.GetChildByKey(_indicator.indicator_id);
											}
											catch(_blya_)
											{
												_temp_ind = null;
											}
										
											if (_temp_ind != null)
											{
												if (_temp_ind.mark == "N")
													_mmmarrrk = tools.get_web_str("ass_n_mark");
												else
												for (_scale in indicatorDoc.scales )
												{
														if (_temp_ind.mark == _scale.PrimaryKey)
														{
															_mmmarrrk = tools_web.get_cur_lng_name(_scale.name, curLng.short_id);
														}
												}
											}
										}
									}
%>
								<td bgcolor="white" align="center">
									<%=tools_web.get_cur_lng_name(_mmmarrrk, curLng.short_id)%>
								</td>
<%
								}
								
								if (curPA.status == 'interview')
								{	
								_mmmarrrk = '';
									
									if (_manager_pa != null)
									{
																		
										try
										{
											_temp_comp = _manager_pa.competences.GetChildByKey(_competence.competence_id);
										}
										catch(_blya_)
										{
											_temp_comp = null;
										}
										
										if (_temp_comp != null)
										{
											try
											{
												_temp_ind = _temp_comp.indicators.GetChildByKey(_indicator.indicator_id);
											}
											catch(_blya_)
											{
												_temp_ind = null;
											}
										
											if (_temp_ind != null)
											{
												if (_temp_ind.mark == "N")
													_mmmarrrk = tools.get_web_str("ass_n_mark");
												else
												for (_scale in indicatorDoc.scales )
												{
														if (_temp_ind.mark == _scale.PrimaryKey)
														{
															_mmmarrrk = tools_web.get_cur_lng_name(_scale.name, curLng.short_id);
														}
												}
											}
										}
									}
%>								
								<td bgcolor="white" align="center">
									<%=tools_web.get_cur_lng_name(_mmmarrrk, curLng.short_id)%>
								</td>
<%
								} 
							}

	if (_show_additional_columns)
	{
		for (_participant in curAssessmentAppraise.participants)
		{
			if (_participant.PrimaryKey != "self" && _participant.PrimaryKey != "manager" && _participant.PrimaryKey != STATUS && ArrayCount(ArraySelect(_add_pas, "status== _participant.PrimaryKey")) > 0)
			{

				_add_partic = ArraySelect(_add_pas, "status== _participant.PrimaryKey");
				_that_name = '';
				_that_mark = 0;
				_that_count = 0;
				_that_na_count = 0;
				
				for(_add_patric in _add_partic)
				{
					_that_arr = Array();
					_that_arr[0] = '';
					_that_arr[1] = null;
					try
					{
						_temp_ind = _add_patric.competences.GetChildByKey(_competence.PrimaryKey).indicators.GetChildByKey(_indicator.indicator_id);
					}
					catch(_blya_)
					{
						_temp_ind = null;
					}
				
					if (_temp_ind != null)
					{
						if (_temp_ind.mark == "N")
							_that_arr[0] = tools.get_web_str("ass_n_mark");
						else
						for (_scale in indicatorDoc.scales )
						{
								if (_temp_ind.mark == _scale.PrimaryKey)
								{
									_that_arr[0] = tools_web.get_cur_lng_name(_scale.name, curLng.short_id);
									_that_arr[1] = _scale.ChildIndex;
									break;
								}
						}
					}
					
					//_that_arr = extract_mark(_add_patric, _indicator.indicator_id, indicatorDoc);
					
					if (_that_arr[1] != null)
					{
						_that_mark = _that_mark + _that_arr[1];
						_that_name = _that_arr[0];
						_that_count++;
					}
					else if (_that_arr[0] == "N")
						_that_na_count++;
				}
				
				if (_that_count + _that_na_count > 0)
				{
%>
								<td bgcolor="white" align="center">
									<%=(  ArrayCount(_add_partic) == 1 && _participant.PrimaryKey == "staff" ? "x" :  (_that_count > 1 ? StrReal( (Real(_that_mark) / Real(_that_count)) , 2)  : _that_name )   )%>
								</td>
<%
				}
				else
				{
%>
				<td bgcolor="white" align="center">x</td>
<%
				}
				
				if(_formuled_result != undefined)
				{
					_role_name = StrUpperCase(_participant.PrimaryKey);
					
					_var_string = _var_string + _role_name + "_MARK = " + _that_mark + ";\n";
					_var_string = _var_string + _role_name + "_COUNT = " + _that_count + ".0;\n";
					_var_string = _var_string + _role_name + "_NA_COUNT = " + Real(_that_na_count) + ";\n";
				}
			}
		}
	}	
%>	

						<td width="30%" bgcolor="white" align="center" style="display: <%=_mark_hide%>">
						<input type="hidden" name="<%=("stid_"+ i)%>" value="<%=(_indicator.indicator_id)%>">
						<input type="hidden" name="<%=("stform_"+ i)%>" value="0">	
						<input type="hidden" name="<%=("stparentid_"+ i)%>" value="<%=_parentID%>">
						<input type="hidden" name="<%=("stelemname_"+ i)%>" value="<%=HtmlEncode(tools_web.get_cur_lng_name(indicatorDoc.name, curLng.short_id))%>"/>
						<%
						if (_comments)
						{
						%>
							<input type="hidden" name="<%=("stdieforcomment_"+ i)%>" id="<%=("stdieforcomment_"+ i)%>" value="<%=ArrayMerge(ArraySelect(indicatorDoc.scales, "comment_require == true"), "This.PrimaryKey", "")%>"/>
						<%
						}
						
						if (IS_MODIFY)
						{
						%>
						<select name="<%=_indicatorName%>">
							<option value=""> </option>
						<%
						if(_show_n) Response.Write('<option value="N"'+(_indicator.mark =='N'? ' selected':'')+'>' + tools.get_web_str("ass_n_mark") + '&nbsp;</option>');
						}
						
						if (!IS_MODIFY && _indicator.mark == "N")
							Response.Write(tools.get_web_str("ass_n_mark"));
						else										
							for (_scale in indicatorDoc.scales )
							{
									if (_indicator.mark == _scale.PrimaryKey)
									{
										_selected_flag = " selected";
										if (!IS_MODIFY)
										{
											Response.Write(tools_web.get_cur_lng_name(_scale.name, curLng.short_id));
											break;
										}
									}
									else
										_selected_flag = "";
									if (IS_MODIFY)
									{
										Response.Write('<option'+_selected_flag+' value="'+_scale.id+'">'+tools_web.get_cur_lng_name(_scale.name,curLng.short_id)+'</option>\n');
									}
							}
								
						if (IS_MODIFY)
						{
%>
						</select>
<%
						}
%>	
						
						</td>
<%
							if (_comments)
							{
%>
								<td width="200px" bgcolor="whitesmoke" align="center">
<%
									if (IS_MODIFY)
									{
%>
									<textarea name="compcomment_<%=i%>" class="commonTextarea"><%=HtmlEncode(_indicator.comment)%></textarea>
<%
									}
									else
										Response.Write(HtmlEncode(_indicator.comment));
%>
								</td>
<%
							}

	get_wf_html(_indicator, i, 'width="30%" bgcolor="white" align="center"');
%>
						</tr>
<%
				}
				else if (_scale_view == 1)
				{
%>
					<tr>
						<td width="100%" bgcolor="white" colspan="<%=((_colspan - (_mark_hide == "none" ? 1 : 0)) + (_comments ? 1 : 0))%>" align="left" style="padding: 0,<%=(_iBlockLevel*20)%>">
						<span>
						<a class="asLink" href="About" onClick="var id=window.open('view_window_indicator_info.html?type=indicator&doc_id=<%=_indicator.indicator_id%>','About','scrollbars,resizable,width=760,height=500');id.focus();return false;"><font>  &nbsp; - &nbsp; <%=tools_web.get_cur_lng_name(indicatorDoc.name, curLng.short_id)%> </font></a>
						</span>
						
							<input type="hidden" name="<%=("stid_"+ i)%>" value="<%=(_indicator.indicator_id)%>">
							<input type="hidden" name="<%=("stform_"+ i)%>" value="0">	
							<input type="hidden" name="<%=("stparentid_"+ i)%>" value="<%=_parentID%>">
							<input type="hidden" name="<%=("stelemname_"+ i)%>" value="<%=HtmlEncode(tools_web.get_cur_lng_name(indicatorDoc.name, curLng.short_id))%>"/>
<%
					if (_comments)
					{
					%>
						<input type="hidden" name="<%=("stdieforcomment_"+ i)%>" id="<%=("stdieforcomment_"+ i)%>" value="<%=ArrayMerge(ArraySelect(indicatorDoc.scales, "comment_require == true"), "This.PrimaryKey", "")%>"/>
					<%
					}
					
					if(ArrayCount(indicatorDoc.scales) > 0)
					{
							if (indicatorDoc.negative_comment.HasValue)
								_negative_comment = indicatorDoc.negative_comment;
							else
								_negative_comment = ArrayFirstElem(indicatorDoc.scales).desc;
								
							if (indicatorDoc.positive_comment.HasValue)
								_positive_comment = indicatorDoc.positive_comment;
							else
								_positive_comment = indicatorDoc.scales[ArrayCount(indicatorDoc.scales) - 1].desc;
%>
							
							<table width="100%" border="1" cellspacing="0" cellpadding="3" style="border-width:0" bordercolordark="gray" bordercolorlight="gray" style="display: <%=_mark_hide%>">								
								<tr>
									<td width="30%" rowspan="2"><%=_negative_comment%></td>
<%
									if(_show_n) Response.Write('<td align="center">' + tools.get_web_str("ass_n_mark") + '</td>');
									for(_scale in indicatorDoc.scales)
									{
%>
									<td align="center"><%=tools_web.get_cur_lng_name(_scale.name, curLng.short_id)%></td>
<%
									}
%>
									<td width="30%" rowspan="2"><%=_positive_comment%></td>
<%
								if (_comments)
								{
%>
									<td width="200px" bgcolor="whitesmoke" align="center">
<%
										if (IS_MODIFY)
										{
%>
										<textarea name="compcomment_<%=i%>" class="commonTextarea"><%=HtmlEncode(_indicator.comment)%></textarea>
<%
										}
										else
											Response.Write(HtmlEncode(_indicator.comment));
%>
									</td>
<%
								}
%>
								</tr>
								<tr>
<%
									if(_show_n) 
										if (IS_MODIFY)
											Response.Write('<td align="center"><input type="radio" name="' + _indicatorName + '" id="' + _indicatorName + '" value="N" '+(_indicator.mark =='N'? 'checked':'')+'/></td>');
										else
											Response.Write('<td align="center">'+(_indicator.mark =='N'? '&bull;':'&nbsp;')+'</td>');
											
									for(_scale in indicatorDoc.scales)
									{
										if (_indicator.mark == _scale.PrimaryKey)
										{
											_selected_flag = "checked";
										}
										else
											_selected_flag = "";
										if (!IS_MODIFY)
										{
											Response.Write("<td align='center'>" + ( _selected_flag == 'checked' ? "&bull;" : "&nbsp;") + "</td>");
										}
										else
										{
%>
									<td onclick="this.children[0].checked = true" align="center"><input type="radio" name="<%=_indicatorName%>" id="<%=_indicatorName%>" value="<%=_scale.PrimaryKey%>" <%=_selected_flag%>/></td>
<%
										}
									}
%>
								</tr>
							</table>
<%
					}
					else
						Response.Write(indicatorDoc.name);
%>
						</td>
<%
	get_wf_html(_indicator, i, 'width="30%" bgcolor="white" align="center"');
%>
					</tr>
<%
				}
				else if (_scale_view == 2)
				{
%>
					<tr>
						<td width="100%" bgcolor="white" colspan="<%=((_colspan - (_mark_hide == "none" ? 1 : 0)) + (_comments ? 1 : 0))%>" align="left">
						<table cellspacing="0" cellpadding="2">
						<tr>
						<td width="100%">
							<a class="asLink" href="About" onClick="var id=window.open('view_window_indicator_info.html?type=indicator&doc_id=<%=_indicator.indicator_id%>','About','scrollbars,resizable,width=760,height=500');id.focus();return false;"><font>  &nbsp; - &nbsp; <%=tools_web.get_cur_lng_name(indicatorDoc.name, curLng.short_id)%> </font></a>
						</td>
						<td width="100px" align="center">
						<label style="width: 50px; background-color: lavender" id="scale_label_<%=i%>">
<%
							if (_indicator.mark == "N")
								Response.Write(tools.get_web_str("ass_n_mark"));
							else										
								for (_scale in indicatorDoc.scales )
								{
										if (_indicator.mark == _scale.PrimaryKey)
										{
											Response.Write(tools_web.get_cur_lng_name(_scale.name, curLng.short_id));
											break;
										}
								}
%>
						</label>
						</td>
<%
						if (IS_MODIFY)
						{
%>
						<td width="40px">
							<input type="button" id="scalebutton_<%=(i)%>" value="v" onclick="_table_switch(<%=i%>)" style="width: 20px" class="inputButton" onMouseOver="this.className='inputButtonOver';" onMouseOut="this.className='inputButton';"/>
						</td>
	<%
						}
		if (_comments)
		{
	%>
			<%
				if (_comments)
				{
			%>
					<td width="200px" bgcolor="whitesmoke" align="center">
					<%
						if (IS_MODIFY)
						{
					%>
						<textarea name="compcomment_<%=i%>" class="commonTextarea"><%=HtmlEncode(_indicator.comment)%></textarea>
					<%
						}
						else
							Response.Write(HtmlEncode(_indicator.comment));
					%>
					</td>
			<%
				}
			%>
	<%
		}
	%>
						</tr>
						</table>
						
						<input type="hidden" name="<%=("stid_"+ i)%>" value="<%=(_indicator.indicator_id)%>"/>
						<input type="hidden" name="<%=("stform_"+ i)%>" value="0"/>	
						<input type="hidden" name="<%=("stparentid_"+ i)%>" value="<%=_parentID%>"/>
						<input type="hidden" name="<%=("stelemname_"+ i)%>" value="<%=HtmlEncode(tools_web.get_cur_lng_name(indicatorDoc.name, curLng.short_id))%>"/>
						<%
						if (_comments)
						{
						%>
							<input type="hidden" name="<%=("stdieforcomment_"+ i)%>" id="<%=("stdieforcomment_"+ i)%>" value="<%=ArrayMerge(ArraySelect(indicatorDoc.scales, "comment_require == true"), "This.PrimaryKey", "")%>"/>
						<%
						}
						
						if (IS_MODIFY)
						{
						%>
						<table width="90%" align="center" cellpadding="5" id="<%=("scaletableid_"+ i)%>" style="display: none">
<%
						if(_show_n)
						{
%>
						<tr bgcolor="white" onmouseover="this.style.backgroundColor='lightgrey';" onmouseout="this.style.backgroundColor='white';" onclick="document.getElementById('<%=(_indicatorName + "_N")%>').checked = true; _table_switch(<%=i%>);">
							<td width="40">
								<input type="radio" name="<%=_indicatorName%>" id="<%=(_indicatorName + "_N")%>" value="N" namevalue="<%=HtmlEncode(tools.get_web_str("ass_n_mark"))%>" <%=(_indicator.mark == "N" ? "checked" : "")%>/>
							</td>
							<td width="40%">
								<%=tools.get_web_str("ass_n_mark")%>
							</td>
							<td width="60%">
								&nbsp;
							</td>
						</tr>
<%
						}
						
						for (_scale in indicatorDoc.scales )
						{
							if (_indicator.mark == _scale.PrimaryKey)
							{
								_selected_flag = "checked";
							}
							else
								_selected_flag = "";
%>
						<tr bgcolor="white" onmouseover="this.style.backgroundColor='lightgrey';" onmouseout="this.style.backgroundColor='white';" onclick="document.getElementById('<%=(_indicatorName + "_" + _scale.ChildIndex)%>').checked = true; _table_switch(<%=i%>);">
							<td width="40">
								<input type="radio" name="<%=_indicatorName%>" id="<%=(_indicatorName + "_" + _scale.ChildIndex)%>" value="<%=_scale.PrimaryKey%>" namevalue="<%=HtmlEncode(tools_web.get_cur_lng_name(_scale.name, curLng.short_id))%>" <%=_selected_flag%>/>
							</td>
							<td width="40%">
								<%=HtmlEncode(tools_web.get_cur_lng_name(_scale.name, curLng.short_id))%>
							</td>
							<td width="60%">
								<%=HtmlEncode(tools_web.get_cur_lng_name(_scale.desc, curLng.short_id))%>
							</td>
						</tr>
<%
						}
%>					
						</table>
<%
						}
%>
						</td>
					</tr>
<%
				}
				i++;			
			}
}
}
%>
				<!-- COMPETENCE REPEAT END -->
<%					
if (_scale_view == 2)
{
%>
<script language="javascript">
<!--
	function _table_switch(_idx)
	{
		var stbl = document.getElementById("scaletableid_"+ _idx);
		var but = document.getElementById("scalebutton_"+ _idx);
		if (stbl.style.display == 'none')
		{
			stbl.style.display='inline';
			but.value='>';
		}
		else
		{
			stbl.style.display = 'none';
			but.value='v';
		}
		
		var o = document.all['stneedvalue_'+_idx];
		if (o.value != undefined)
		{

				if(o.checked) 
					document.all["scale_label_" + _idx].innerHTML=o.namevalue;
		}
		else
		{
			var k=0;
			while (o[k])
			{
				if (o[k].checked) {document.all["scale_label_" + _idx].innerHTML=o[k].namevalue;}
				k++;
			}
		}
		
	}
-->
</script>
<%
}
%>				
					

<%
	if(curPA.overall.HasValue)
	{
%>
					<tr>
						<td bgcolor="silver">&nbsp;</td>
<%
							if (_manager_show_columns)
							{
								if (curPA.status == "manager" || curPA.status == "interview")
								{
%>								
						<td bgcolor="silver" align="center">&nbsp;</td>								
<%
								}
								
								if (curPA.status == "interview")
								{
%>
						<td bgcolor="silver" align="center">&nbsp;</td>
<% 								}
							}
%>

<%
	if (_show_additional_columns)
	{
		for (_participant in curAssessmentAppraise.participants)
		{
			if (_participant.PrimaryKey != "self" && _participant.PrimaryKey != "manager" && _participant.PrimaryKey != STATUS && ArrayCount(ArraySelect(_add_pas, "status== _participant.PrimaryKey")) > 0)
			{
%>
								<td bgcolor="silver" align="center">&nbsp;</td>
<%
			}
		}
	}
%>		
						<td bgcolor="silver" align="center"  style="display: <%=_mark_hide%>">
						<%=tools.get_web_str("vcb_overall")%>&nbsp;<%=curPA.overall%>
						</td>

<%
	if (ArrayCount(workflow_fields) > 0)
	{
%>
		<td bgcolor="silver" align="center" colspan="<%=ArrayCount(workflow_fields)%>">&nbsp;</td>
<%
	}

	if (_comments)
	{
%>
		<td bgcolor="silver">&nbsp;</td>
<%
	}
%>
					</tr>
<%
	}
%>
						</table>
						</td></tr></table>
				<BR/><BR/>

<%
	if (_appraise_competence == "blind_by_ind")
	{
%>
<script language="javascript">
<!--
	var _table = document.getElementById("comp_data_table");
	
	if (_table.rows.length > 3)
	{
		var _ubound = _table.rows.length - 1;
		<%
			if(curPA.overall.HasValue)
			{
		%>
			_ubound--;
		<%
			}
		%>
		
		for (var i = 1 ; i <= _ubound; i++)
		{	
			 var _target = parseInt(  (Math.random() * (_ubound - 1) ) + 1  );
			_table.moveRow(i, _target );
		}
	}
	
	_table.style.visibility = 'visible';
	
-->
</script>

<%
	}
%>
					</p>
					<input type="hidden" name="comp_count" value="<%=i%>">
<%
		}
		
	Server.Execute("view_supplementary_questions.html");
%>
	<hr/>
<%
	Server.Execute("view_assessment_comment.html");
		
						if (IS_MODIFY)
						{
					%>
						<p><center><input type=submit <% if(!_what2submit_hide){%>onClick="return whatToSubmit();" <%}%>value="    <%=tools.get_web_str("c_save")%>    " class="inputButton" onMouseOver="this.className='inputButtonOver';" onMouseOut="this.className='inputButton';"></center></p>
					<%
						}
					%>
					
					</form>
<%
		WF_FORM_TOP = "bottom";
		Server.Execute("view_assessment_workflow_buttons.html");
	} //_cancel end
%>