<SCRIPT LANGUAGE="JAVASCRIPT">
function doSubmit_process()
{		
    document.forms['participant_form'].status.value = 'process';   
	document.forms['participant_form'].submit();
}
function doSubmit_cancel()
{		
    document.forms['participant_form'].status.value = 'cancel';   
	document.forms['participant_form'].submit();
}
function doSubmit_vote()
{		
    document.forms['participant_form'].status.value = 'assessment';   
	document.forms['participant_form'].submit();
}
function checkValue( mark_min , mark_max )
{
    var fCheck = false;
    try
    {
        fCheck = ( ! isNaN( document.forms['participant_form'].com_generalstr.value ) && Number( document.forms['participant_form'].com_generalstr.value ) >  Number( mark_min ) && Number( document.forms['participant_form'].com_generalstr.value ) < Number( mark_max ) );
    }
    catch(err)
    {
    }
    if ( ! fCheck )
    {
        alert( String(<%=CodeLiteral( tools_web.get_web_str('cg_mes_number') )%>).replace(/{PARAM1}/gi, "W3Schools").replace(/{PARAM2}/gi, "W3Schools") );
        document.forms['participant_form'].com_general = '';
    }
}
</SCRIPT>

<FORM ACTION="participant_change.html" NAME="participant_form" id="participant_form" METHOD="POST" enctype="multipart/form-data">
	<input type=hidden name="doc_id" value="<%=curDocID%>"/>
	<input type=hidden name="action" value="save"/>
	<input type=hidden name="object_id" value="<%=curObjectID%>"/>
    <input type=hidden name="user_id" value="<%=curUserID%>"/>
    <input type=hidden name="status" value="<%=curObject.status_id%>"/>
<%
		_contest = OpenDoc( UrlFromDocID( curObject.contest_id )).TopElem;
        _collaborator = OpenDoc( UrlFromDocID( curObject.person_id ) ).TopElem;
        _staff = '';
            if ( global_settings.settings.fill_path_subs )
            {
                try
                {
                    for ( _sub in _collaborator.path_subs )
                    {
                    	if ( _sub.name != _collaborator.position_name )
                        {
                            if ( _staff == '' )
                                _staff= _sub.name;
                            else
                                _staff= _sub.name + '-->' +_staff;
                        }
                    }
                }
                catch(ee)
                {
                }
            }
            else
            {
            	_staff = _collaborator.position_parent_name;
            }
%>
<TABLE width="100%" cellspacing="0" cellpadding="4" CLASS="tableBorder">
	<tr>
    	<TD WIDTH="200" ALIGN="RIGHT"><b><%=tools_web.get_web_str('c_code')%>:</b></td>
    	<TD STYLE="font-weight:normal"><a HREF="view_doc.html?mode=contest&object_id=<%=curObject.contest_id%>&doc_id=<%=curDocID%>"><%=curObject.contest_id.ForeignElem.code%></a></td>
    </tr>
    <tr>
    	<TD WIDTH="200" ALIGN="RIGHT"><b><%=tools_web.get_web_str('c_contest')%>:</b></td>
        <TD STYLE="font-weight:normal"><a HREF="view_doc.html?mode=contest&object_id=<%=curObject.contest_id%>&doc_id=<%=curDocID%>"><%=curObject.contest_name%></a></td>
	</tr>
	<tr>
    	<TD WIDTH="200" ALIGN="RIGHT"><b><%=tools.get_web_str('c_participant')%>:</b></td>
        <TD STYLE="font-weight:normal"><a href="view_doc.html?mode=person&object_id=<%=curObject.person_id%>"><%=_collaborator.fullname%></a></td>
    </tr>
	<tr>
    	<TD WIDTH="200" ALIGN="RIGHT"><b><%=tools.get_web_str('c_position')%>:</b></td>
        <TD STYLE="font-weight:normal"><%=_collaborator.position_name%></td>
    </tr>
	<tr>
    	<TD WIDTH="200" ALIGN="RIGHT"><b><%=tools.get_web_str('c_subd')%>:</b></td>
        <td style="font-weight:normal">
<%
		if ( _collaborator.position_parent_id.HasValue )
		{
%>
		<a href="view_doc.html?mode=subdivision&object_id=<%=_collaborator.position_parent_id%>&doc_id=<%=curDocID%>"><%=_staff%></a>
<%
		}
		else
		{
			Response.Write( _staff );
		}
%>
		</td>
    </tr>
	<tr>
    	<TD WIDTH="200" ALIGN="RIGHT"><b><%=tools.get_web_str('c_org')%>:</b></td>
        <TD STYLE="font-weight:normal"><%=_collaborator.org_name%></td>
    	</tr>
</table>
<br/>
<br/>
    <table>

<% 
if (curObject.person_id == curUserID && curObject.status_id == 'plan')
{
    if ( _contest.web_template_id != 'gallery')
    {
%>
    	<TR>
			<TD COLSPAN = "2" WIDTH="250" ALIGN="LEFT" class="headerText"><%=tools.get_web_str('c_desc')%>:</TD>	
				
<script type="text/javascript" src="scripts/rte/js/tiny_mce.js"></script>
<script type="text/javascript">
	tinyMCE.init({
		// General options
		mode : "textareas",
		language : "ru",
		theme : "advanced",
		skin : "o2k7",
		skin_variant : "silver",
		plugins : "safari,style,table,save,advhr,advimage,advlink,emotions,iespell,inlinepopups,insertdatetime,preview,media,searchreplace,print,contextmenu,paste,fullscreen,noneditable,nonbreaking,xhtmlxtras",

		// Theme options
		theme_advanced_buttons1 : "newdocument,save,|,print,|,search,replace,|,iespell,|,cut,copy,paste,pastetext,pasteword,removeformat,|,undo,redo,|,help,|,fullscreen,|,preview",
		theme_advanced_buttons2 : "styleselect,formatselect,fontselect,fontsizeselect,|,bold,italic,underline,strikethrough,|,sub,sup,|,justifyleft,justifycenter,justifyright,justifyfull,|,bullist,numlist,|,outdent,indent,blockquote,|,forecolor,backcolor",
		theme_advanced_buttons3 : "tablecontrols,|,link,unlink,anchor,|,hr,advhr,|,image,media,charmap,nonbreaking,emotions,|,code,cleanup",
		theme_advanced_toolbar_location : "top",
		theme_advanced_toolbar_align : "left",
		theme_advanced_statusbar_location : "bottom",
		theme_advanced_resizing : true,

		// Example content CSS (should be your site CSS)
		content_css : "scripts/rte/css/content.css",

		// Drop lists for link/image/media/template dialogs
		template_external_list_url : "scripts/rte/lists/template_list.js",
		external_link_list_url : "scripts/rte/lists/link_list.js",
		external_image_list_url : "scripts/rte/lists/image_list.js",
		media_external_list_url : "scripts/rte/lists/media_list.js",

		// Replace values for the template plugin
		template_replace_values : {
			username : "Some User",
			staffid : "991234"
		}
	});
</script>			
            <TD COLSPAN = "2" STYLE=" font-weight:normal"><textarea id="desc" name="desc" rows="15" cols="80" style="width: 100%; height: 200px;"><%=curObject.desc%></TEXTAREA></TD></TR>
<%
    }
		_count = 1;
		for ( _file in curObject.files )
 		{        
        _resourse = OpenDoc(UrlFromDocID(_file.file_id )).TopElem;
%>        
            <tr> 
                <td align="right"><%=tools.get_web_str('c_file') + ' ' + _count%>:</td>
                <td><IMG src="pics/ex.gif" width="13" height="11">&nbsp;<A href="#" onClick="document.location.href='download_file.html?file_id=<%=_file.file_id%>&sid=<%=tools.get_sum_sid( _file.file_id )%>'"><%=_resourse.name%></A></td>
                
                <td><input type="file" name="file<%=_count%>" id="file<%=_count%>" class="inputEdit"/></td>
                <td><input type="text" name="comment<%=_count%>" id="comment<%=_count%>" class="inputEdit" value="<%=_resourse.comment%>" style="width:800px"/></td>
               
            </tr>
<%
			_count++;
    	}
        while ( _count <=5 )
        {
%>
			<tr> 
                <td colspan="2" align="right"><%=tools.get_web_str('c_file') + ' ' + _count%>:</td>
                <td><input type="file" name="file<%=_count%>" id="file<%=_count%>" class="inputEdit"/></td>
                <td><input type="text" name="comment<%=_count%>" id="comment<%=_count%>" class="inputEdit" style="width:800px"/></td>

            </tr>
<%
			_count++;
    	}
        
%>
            </tr>
            </table>
            <hr/>
            <br/>
			<br/>
<TABLE width="100%" cellspacing="0" cellpadding="4" CLASS="activator">
	<TR VALIGN="MIDDLE">
		<TD COLSPAN="2" ALIGN="CENTER">
        <input type=submit  value="    <%=tools.get_web_str("c_save")%>    " class="inputButton" onMouseOver="this.className='inputButtonOver';" onMouseOut="this.className='inputButton';">
<input type=button  value="    <%=tools.get_web_str("c_worksent")%>    " onclick="doSubmit_process()" class="inputButton" onMouseOver="this.className='inputButtonOver';" onMouseOut="this.className='inputButton';">   <input type=button  value="   <%=tools.get_web_str("c_recall")%>    "  onclick="doSubmit_cancel()" class="inputButton" onMouseOver="this.className='inputButtonOver';" onMouseOut="this.className='inputButton';">
		</TD>
	</TR>
</TABLE>
<BR/>
<%
}
 else 
{		
    if ( _contest.web_template_id != 'gallery')
    {
    %>
    	<TR>
			<TD COLSPAN = "2" WIDTH="250" ALIGN="LEFT" class="headerText"><%=tools.get_web_str('c_desc')%>:</TD>
           </TR> 
            </table>
             <hr/>
            <%Server.Execute("view_desc.html")%>
             <hr/>
     <%
     }
     Server.Execute( "view_files.html" );
}

if (curObject.person_id == curUserID && curObject.status_id != 'plan' )
{
%>
<br/>
<TABLE width="100%" cellspacing="0" cellpadding="4" CLASS="activator">
	<TR VALIGN="MIDDLE">
		<TD COLSPAN="2" ALIGN="CENTER"><input type=button  value="   <%=tools.get_web_str("c_recall")%>    "  onclick="doSubmit_cancel()" class="inputButton" onMouseOver="this.className='inputButtonOver';" onMouseOut="this.className='inputButton';"></TD>
	</TR>
</TABLE>        

<%
}
else if (curObject.person_id != curUserID && _contest.status_id == 'process' ) 
{
%>
	<br/>
    <br/>
<%
	_marks = curObject.marks;
    _assessment_type = _contest.estimation_id;
    _judges = _contest.judges;
    _judge_main = ArrayOptFirstElem( ArraySelect( _judges, 'main == true'));
    _mark = ArrayOptFirstElem( ArraySelect( curObject.marks, 'collaborator_id==' + curUserID));
    
    if (_contest.show_marks && ArrayOptFirstElem(curObject.marks)!=undefined)
            {
%>
			<table width="100%"  border="0" cellspacing="0" cellpadding="0" class="tableBorder">
            	<tr>
                    <td  bgcolor="silver" width="20%"><b><%=tools.get_web_str("c_coll")%></b></td>
                    <td  bgcolor="silver" width="20%"><b><%=tools.get_web_str("vkb_work_assessment")%></b></td>
                    <td  bgcolor="silver"><b><%=tools.get_web_str("c_comment")%></td>
                </tr>
<%  				
				counter = 0;     
            	for ( _cur_mark in curObject.marks )
                {
                	_class = counter++ % 2 ? 'tableRowEven' : 'tableRowOdd';
%>
						<tr><td class="<%=_class%>"><%=_cur_mark.person_fullname%></td><td class="<%=_class%>"><%=_cur_mark.value%></td><td class="<%=_class%>"><%=_cur_mark.desc%></td></tr>
<%      

                } 
%>
				</table>
				<br/>
<%                
            }
            
    if ( _mark == undefined || _assessment_type == 'com_general' )
    {
        switch ( _assessment_type )
        {
    	    case 'com_general':
             if ( curObject.status_id == 'process')
             {
        	    if ( _judge_main != undefined )
                {
            	    if ( curUserID == _judge_main.collaborator_id )
                    {
                	    if ( _contest.combo )
                        {                    
    %>
						    <table width="100%"  border="0" cellspacing="0" cellpadding="0"><tr><td width = "20%"><%=tools.get_web_str("c_com_general")%></td><td>
                                <select name="com_general" style="width: 100px">
                            	    <option selected value="0"></option>
    <%
                                _value = Int( _contest.mark_min );
                                while ( _value <= Int( _contest.mark_max ) )
                                {
                            	    if ( curObject.general_mark != '' && curObject.general_mark == String( _value ))
                                    {
    %>                        
                                	    <option selected value="<%=_value%>"><%=_value%></option>                               
    <%
								    }
								    else
                                    {
    %>                        
                                	    <option  value="<%=_value%>"><%=_value%></option>
    <%
								    }
                                    _value++;
                                 }
    %>
                                </select></td></tr></table>

    <%
                                   			
                        }
                        else 
                        {
    %>
						    <table width="100%"  border="0" cellspacing="0" cellpadding="0"><tr><td width = "20%"><%=tools.get_web_str("c_com_general")%></td>
                            <td><input type="text" name="com_generalstr" id="com_generalstr" value="<%=curObject.general_mark%>" size="30" class="inputEdit" onchange="checkValue(<%=_contest.mark_min%>,<%=_contest.mark_max%>)"/></td></tr></table>
    <%                    
                                                
                        }
    %>
    <br/>
    <br/>
    <p>
    <input type=submit  value="    <%=tools.get_web_str("vmv_submit")%>    " class="inputButton" onMouseOver="this.className='inputButtonOver';" onMouseOut="this.className='inputButton';"> 
    <%
               if ( _judge_main != undefined )
               {
                    if ( curUserID == _judge_main.collaborator_id )
                    {

    %>
                           <input type=button  value="   <%=tools.get_web_str("ass_finish_estimation")%>    "  onclick="doSubmit_vote()" class="inputButton" onMouseOver="this.className='inputButtonOver';" onMouseOut="this.className='inputButton';">
    <%
       		        }
               }
    %>
   </p>
   <%                   
                    }
                }
            }
            else if ( curObject.status_id != 'plan' )
            {
    %>
            <table width="100%"  border="0" cellspacing="0" cellpadding="0"><tr><td width = "20%"><%=tools.get_web_str("c_com_general")%></td><td><%=curObject.general_mark%></td></tr></table>
    <%                            
            }
        	    break;
                
            case 'com_all':
        	    if ( curObject.status_id == 'process')
         	    { 			
				    curMark = null;		
				    counter = 0;     
            	    for ( _mark in curObject.marks )
                    {
                	    _class = counter++ % 2 ? 'tableRowEven' : 'tableRowOdd';
                	    if ( _mark.collaborator_id == curUserID )
                        {
                    	    curMark = _mark;
                        } 
                    } 
                              
                    _judge = ArrayOptFirstElem( ArraySelect( _judges, 'collaborator_id=='+curUserID));
                    if ( _judge != undefined )
                    {
                	    _class =  'tableRowEven';
                	    try
                        {
                    	    _mark_value = curMark.value;
                            _mark_desc = curMark.desc;
                        }
                        catch(ee)
                        {
                            _mark_value = 0;
                            _mark_desc = '';
                        }
    %>
						    <table width="100%" class='tableBorder' cellspacing="0" cellpadding="0"><tr><td width = "20%" class="<%=_class%>"><%=curUser.fullname%></td>
    <%                                         
                	    if ( _contest.combo )
                        {                    
    %>
						    <td class="<%=_class%>">
                                <select name="combo_mark_value<%=curObjectID%>" id="combo_mark_value<%=curObjectID%>" style="width: 50px">
                            	    <option selected value="0"></option>
    <%
                                _value = Int( _contest.mark_min );
                                while ( _value <= Int( _contest.mark_max ) )
                                {
                            	    if ( Int( _mark_value ) == Int( _value ) )
                                    {
    %>                        
                                	    <option selected value="<%=_value%>"><%=_value%></option>                               
    <%
								    }
								    else
                                    {
    %>                        
                                	    <option  value="<%=_value%>"><%=_value%></option>
    <%
								    }
                                    _value++;
                                 }
    %>
                                </select></td>
    <%
					    }
                        else
                        {                                                
    %>
    <td class="<%=_class%>"><input type="text" name="mark_value<%=curObjectID%>" id="mark_value<%=curObjectID%>" value="<%=_mark_value%>" size="30" class="inputEdit" onchange="checkValue(<%=_contest.mark_min%>,<%=_contest.mark_max%>)"/></td>
    <%	
					    }
    %>  
    <td class="<%=_class%>"><input type="text" name="mark_desc<%=curObjectID%>" id="mark_desc<%=curObjectID%>" value="<%=_mark_desc%>" size="100" class="inputEdit"/></td></tr>
			    </table>
    <br/>
    <br/>            
    <p>
    <input type=submit  value="    <%=tools.get_web_str("vmv_submit")%>    " class="inputButton" onMouseOver="this.className='inputButtonOver';" onMouseOut="this.className='inputButton';"> 
    <%
               if ( _judge_main != undefined )
               {
                    if ( curUserID == _judge_main.collaborator_id )
                    {

    %>
                           <input type=button  value="   <%=tools.get_web_str("ass_finish_estimation")%>    "  onclick="doSubmit_vote()" class="inputButton" onMouseOver="this.className='inputButtonOver';" onMouseOut="this.className='inputButton';">
    <%
       		        }
               }
    %>
   </p>
    <%	
				    }
			    }
        	    break;
                
            case 'voting':
        	    if ( curObject.status_id == 'process')
         	    {	
            	    curMark = null;				
				    counter = 0;     
            	    for ( _mark in curObject.marks )
                    {
                	    _class = counter++ % 2 ? 'tableRowEven' : 'tableRowOdd';
                	    if ( _mark.collaborator_id == curUserID )
                        {
                    	    curMark = _mark;
                        } 
                    } 
                    _class = counter++ % 2 ? 'tableRowEven' : 'tableRowOdd';
                    try
                    {
                        _mark_value = curMark.value;
                        _mark_desc = curMark.desc;
                    }
                    catch(ee)
                    {
                        _mark_value = 0;
                        _mark_desc = '';
                    }
    %>
					    <table width="100%"  border="0" cellspacing="0" cellpadding="0" class="tableBorder">
                            <tr>
                                <td  bgcolor="silver" width="20%"><b><%=tools.get_web_str("c_coll")%></b></td>
                                <td  bgcolor="silver" width="20%"><b><%=tools.get_web_str("vkb_work_assessment")%></b></td>
                                <td  bgcolor="silver"><b><%=tools.get_web_str("c_comment")%></td>
                            </tr>
                            <tr><td width = "20%" class="<%=_class%>"><%=curUser.fullname%></td>
    <%                                         
                	    if ( _contest.combo )
                        {                    
    %>
						    <td class="<%=_class%>">
                                <select name="combo_vote_value<%=curObjectID%>" id="combo_vote_value<%=curObjectID%>">
                            	    <option selected value="0"></option>
    <%
                                _value = Int( _contest.mark_min );
                                while ( _value <= Int( _contest.mark_max ) )
                                {
                            	    if ( Int( _mark_value ) == Int( _value ) )
                                    {
    %>                        
                                	    <option selected value="<%=_value%>"><%=_value%></option>                               
    <%
								    }
								    else
                                    {
    %>                        
                                	    <option  value="<%=_value%>"><%=_value%></option>
    <%
								    }
                                    _value++;
                                 }
    %>
                                </select></td>
    <%
					    }
                        else
                        {                                                
    %>
    <td class="<%=_class%>"><input type="text" name="vote_value<%=curObjectID%>" id="vote_value<%=curObjectID%>" value="<%=_mark_value%>" size="30" class="inputEdit" onchange="checkValue(<%=_contest.mark_min%>,<%=_contest.mark_max%>)"/></td>
    <%	
					    }
    %>  
    <td class="<%=_class%>"><input type="text" name="vote_desc<%=curObjectID%>" id="vote_desc<%=curObjectID%>" value="<%=_mark_desc%>" size="100" class="inputEdit"/></td></tr>
			    </table>
     <br/>
    <br/>           
    <p>
    <input type=submit  value="    <%=tools.get_web_str("vmv_submit")%>    " class="inputButton" onMouseOver="this.className='inputButtonOver';" onMouseOut="this.className='inputButton';"> 
    <%
               if ( _judge_main != undefined )
               {
                    if ( curUserID == _judge_main.collaborator_id )
                    {

    %>
                           <input type=button  value="   <%=tools.get_web_str("ass_finish_estimation")%>    "  onclick="doSubmit_vote()" class="inputButton" onMouseOver="this.className='inputButtonOver';" onMouseOut="this.className='inputButton';">
    <%
       		        }
               }
    %>
   </p>
   <%
	        }
	        break;
            
        }

    }
}
if ( _contest.status_id == 'assessment' )
{
%>	
		<br/>
<% 		
		   if (_contest.show_marks && ArrayOptFirstElem(curObject.marks)!=undefined)
            {
%>
			<table width="100%"  border="0" cellspacing="0" cellpadding="0" class="tableBorder">
            	<tr>
                    <td  bgcolor="silver" width="20%"><b><%=tools.get_web_str("c_coll")%></b></td>
                    <td  bgcolor="silver" width="20%"><b><%=tools.get_web_str("vkb_work_assessment")%></b></td>
                    <td  bgcolor="silver"><b><%=tools.get_web_str("c_comment")%></td>
                </tr>
<%  				
				counter = 0;     
            	for ( _cur_mark in curObject.marks )
                {
                	_class = counter++ % 2 ? 'tableRowEven' : 'tableRowOdd';
%>
						<tr><td class="<%=_class%>"><%=_cur_mark.person_fullname%></td><td class="<%=_class%>"><%=_cur_mark.value%></td><td class="<%=_class%>"><%=_cur_mark.desc%></td></tr>
<%      

                } 
%>
				</table>
				<br/>
<%                
            }
%>            
		
		<table width="40%"  border="0" cellspacing="0" cellpadding="0">
            	<tr>
                    <td   width="50%"><b><%=tools.get_web_str("c_rating")%></b></td>
                    <td   width="50%"><b><%=tools.get_web_str("c_contest_place")%></b></td>
                </tr>	
<%
	_judges = _contest.judges;
    _judge_main = ArrayOptFirstElem( ArraySelect( _judges, 'main == true'));
	if ( curUser.access.access_role == 'admin'  ||  ( _judge_main != undefined && curUserID == _judge_main.collaborator_id ) )
    {
%>    
            	<tr>
                    <td><input type="text" name="rating" id="rating" value="<%=curObject.rating%>" size="30" class="inputEdit"/></td>
                    <td><input type="text" name="place" id="place" value="<%=curObject.place%>" size="30" class="inputEdit"/></td>
                </tr>
                </table>	
                <br/>
				<br/>
<TABLE width="100%" cellspacing="0" cellpadding="4" CLASS="activator">
	<TR VALIGN="MIDDLE">
		<TD COLSPAN="2" ALIGN="CENTER">
        <input type=submit  value="    <%=tools.get_web_str("c_save")%>    " class="inputButton" onMouseOver="this.className='inputButtonOver';" onMouseOut="this.className='inputButton';">
                  </TD>
	</TR>
</TABLE> 
<%                    
    }
    else
    {	
%>      
            	<tr>
                    <td><%=curObject.rating%></td>
                    <td><%=curObject.place%></td>
                </tr>
                </table>	
<% 
    }

}
%>    




</FORM>