<%
	
	try
	{
		curResumeID = Int(Request.QueryString.resume_id);
	}
	catch(ex)
	{
		curResumeID='';
	}
	NewDoc=false;
	try
	{
		resumeDoc = OpenDoc ( UrlFromDocID ( curResumeID ) ).TopElem;
	}
	catch (err)
	{
		resumeDoc = null;
		NewDoc=true
		_readOnly = false;
	}
	
	_fullname='';
	_name='';
	_sex=''
	_family_status=''
	_birth_date=''
	_educ_type_id=''
	_profession_area_id=''
	_exp_years=''
	_phone=''
	_mobile_phone=''
	_work_phone=''
	_email='';
	_location_id=''
	_address='';
	_main_lng='';
	_academic_degree = '';
	_academic_title = '';
	_dominant_skills=''
	arrWorkExperiences=Array()
	arrEducations=Array()
	arrProjects = new Array();
	arrPublications = new Array();
	arrLngs=Array()
	
	cur_person_id=curUserID
	try
	{
		cur_person_id=Int(Request.Query.person_id);
	}
	catch(ex)
	{
	}
	
	if (!NewDoc)
	{
		_fullname=resumeDoc.person_id.sd.fullname;
		_name=resumeDoc.name;
		_sex=resumeDoc.sex
		_family_status=resumeDoc.family_status
		_birth_date=resumeDoc.birth_date;
		_educ_type_id=resumeDoc.educ_type_id;
		_profession_area_id=resumeDoc.profession_area_id;
		_exp_years=resumeDoc.exp_years;
		_phone=resumeDoc.phone;
		_mobile_phone=resumeDoc.mobile_phone;
		_academic_degree = resumeDoc.academic_degree;
		_academic_title = resumeDoc.academic_title;
		_work_phone=resumeDoc.work_phone;
		_email=resumeDoc.email;
		_location_id=resumeDoc.location_id;
		_address=resumeDoc.address;
		_main_lng=resumeDoc.main_lng;
		_dominant_skills=resumeDoc.dominant_skills;
		
		arrWorkExperiences=resumeDoc.work_experiences;
		arrEducations=resumeDoc.educations;
		arrProjects = resumeDoc.projects;
		arrPublications = resumeDoc.publications;
		arrLngs=resumeDoc.lngs;
	
		_readOnly = true;
		if ( resumeDoc.creator_person_id == curUserID )
			_readOnly = false;
			
		curObject=resumeDoc;
		curObjectID=curResumeID
	}
	else
	{
		curObject = OpenNewDoc( 'x-local://wtv/wtv_resume.xmd' ).TopElem;
		curObjectID=null
	}
	
	Redirect='';
	object_id='';
	
	try
	{
		Redirect = Trim(Request.Query.redirect);
	}
	catch(ex)
	{
	}
	
	try
	{
		object_id = Int(Request.Query.object_id);
	}
	catch(ex)
	{
	}
	
	if (Redirect!='')
	{
		_url='view_doc.html?mode='+Redirect+'&doc_id='+curDocID+'&object_id='+object_id
		if(Redirect=='career_reserve')
		{
			_url=_url+'&tab=3'
		}
	}
	else
	{
		_url='view_doc.html?mode=resumes&doc_id='+curDocID
	}
%>	
<script language="javascript">
	
	function CancelButton()
	{
		document.location.href = "<%=_url%>";
	}
	
	function save()
	{
	<%
		if(ArrayCount(curObject.custom_elems) > 0)
		{
	%>
		if ( ! check_required() )
			return false;
	<%
		}
	%>
		//document.all["command"].value = 'save';
		document.getElementById('resume_change_form').submit();
	}

	function server_send_data(dataStr,containerId)
	{
	
		$('#'+containerId).empty().html('<td colspan="2"><table width="100%" height="50%"><tr><td height="50%" style="text-align: center"><img src="pics/ajax-loader.gif" alt="<%=tools.get_web_str('c_loading')%>..."/></td></tr><tr><td height="50%"><div align="center">Downloading</div></td></tr></table></td>');
		$.post("resume_change.html",dataStr,function(data)
			{
				//alert(data)
				//document.getElementById(containerId).innerHTML=data
				$("#"+containerId).html(data);
	
			}
		)
	 
	}
	function add_item( _type )
	{
				
		var tobj = document.getElementById('tbody_'+_type);
		major_count = tobj.rows.length;
		
		line_id=_type + "_line_" + major_count
		var trow1=document.createElement("TR");
		trow1.setAttribute("id",line_id);
		trow1.setAttribute("vAlign","middle");
		var tinsrow=tobj.insertAdjacentElement('beforeEnd',trow1);
		
		dataStr="&type="+_type+"&string_counter="+major_count+"&change_command=1";
		
		server_send_data(dataStr,line_id);			
	}
	
	function delete_item( _type, _index )
	{
		try 
		{
			
			CurTable=document.getElementById('tbody_'+_type)
			RowIndex=document.getElementById(_type+'_line_'+_index).rowIndex
			CurTable.deleteRow(RowIndex);
		} 
		catch(e) 
		{
			alert(e)
		}
	
	}
	function move_up( _type, _index )
	{
		moveRow(_type+'_line_'+_index,'tbody_'+_type,'-')
	}
	function move_down( _type, _index )
	{
		moveRow(_type+'_line_'+_index,'tbody_'+_type,'+')
	}
	function check_dateMMYYYY( _object )
	{
		var re = new RegExp( "[0-9]{2}[.][0-9]{4}" );
	
		if ( _object.value != '' && _object.value.match(re) == null )
		{
			alert( <%=CodeLiteral( tools_web.get_web_str('vrb_mess_date_format1') )%> );
			_object.value = "";
			return;
		}
	}
	
	function check_dateYYYY( _object )
	{
		var re = new RegExp( "[0-9]{4}" );
	
		if ( _object.value != '' && _object.value.match(re) == null )
		{
			alert( <%=CodeLiteral( tools_web.get_web_str('vrb_mess_date_format3') )%> );
			_object.value = "";
			return;
		}
	}
	
	function  moveRow (iSourseId,table,direction)
	{
		try 
		{
			CurTable=document.getElementById(table)
			one=document.getElementById(iSourseId).rowIndex
	
			if (direction=='+')
			{
				two=one+1
				if(!CurTable.rows[one] || two > CurTable.rows.length-1)
				{
					return false
				}
				$('#'+iSourseId).clone(true).insertAfter('#'+CurTable.rows[two].id);
				CurTable.deleteRow(one)
			}
			else
			{
				two=one-1
				if(!CurTable.rows[one] || two < 0)
				{
					return false
				}
				$('#'+iSourseId).clone(true).insertBefore('#'+CurTable.rows[two].id);
				CurTable.deleteRow(one+1)
			}
			
		} 
		catch(e) 
		{
			alert(e)
		}
	}
</script>
<script src="scripts\calendar\calendar.js"></script>
<FORM ACTION="resume_change.html" name="resume_change_form" id="resume_change_form" METHOD="POST" enctype="multipart/form-data">
		<input type="hidden" name="doc_id" id="doc_id" value="<%=curDocID%>">
		<input type="hidden" name="resume_id" id="resume_id" value="<%=curResumeID%>">
		<input type="hidden" name="person_id" id="person_id" value="<%=cur_person_id%>">
		<input type="hidden" name="redirect" id="redirect" value="<%=Redirect%>">
		<input type="hidden" name="object_id" id="object_id" value="<%=object_id%>">

	<table width="100%"  border="0" cellspacing="0" cellpadding="3">
		<tr>
			<td height="10" colspan="2" align="center"><font color="gray" size="+0"><b><%=tools_web.get_web_str('vrb_basic_info')%></b></font></td>				
		</tr>
		<tr>
			<td height="10" colspan="2" align="center"><font color="gray">&nbsp;</font></td>				
		</tr>
		<%	if ( _readOnly )
		{%>
		<TR VALIGN="MIDDLE">					
			<TD width="17%"><b><%=tools_web.get_web_str('c_fio')%></b></TD>
			<TD>
				<input type="text" value="<%=_fullname%>" name="fio" id="fio" size="70">
			</TD>
		</TR>
		<%}%>
		<TR VALIGN="MIDDLE">					
			<TD width="17%"><b><%=tools.get_web_str('c_name')%></b></TD>
			<TD><input type="text" value="<%=HtmlEncode( _name )%>" name="name" id="name" size="70"></TD>
		</TR>
		<TR VALIGN="MIDDLE">					
			<TD width="17%"><b><%=tools_web.get_web_str('vpb_sex')%></b></TD>
			<TD>
				<select name="sex" id="sex">
					<option value=""></option>
					<option value="w"<%=(_sex == "w" ? " selected" : "") %> ><%=tools_web.get_web_str('vpb_w')%></option>
					<option value="m"<%=(_sex == "m" ? " selected" : "" ) %>><%=tools_web.get_web_str('vpb_m')%></option>
				</select>
			</TD>
		</TR>
		<TR VALIGN="MIDDLE">					
			<TD width="17%"><b><%=tools_web.get_web_str('vrb_family_status')%></b></TD>
			<TD>
				<select name="family_status">
					<option value=""></option>
					<option value="married"<%=(_family_status == "married" ? " selected" : "") %> ><%=tools_web.get_web_str('vrb_married')%></option>
					<option value="not_married"<%=(_family_status == "not_married" ? " selected" : "") %>><%=tools_web.get_web_str('vrb_unmarried')%></option>
					<option value="divorced"<%=(_family_status == "divorced" ? " selected" : "") %>><%=tools_web.get_web_str('vrb_divorcee')%></option>
				</select>
			</TD>
		</TR>		
		<TR VALIGN="MIDDLE">					
			<TD width="17%"><b><%=tools_web.get_web_str('vpb_birthday')%></b></TD>
			<TD>
				<input type="text" style="width: 70px" id="birth_date" name="birth_date"  
				value="<%=_birth_date%>" class="inputEdit" readonly>
				<a href="#"  tn="date" onClick="var h=0; var offP = this.offsetParent; while(offP.id != 'main_block' && offP.tagName.toUpperCase()!='BODY') 
				{h+=offP.offsetTop; offP = offP.offsetParent;} ; showCalendar(this, document.getElementById('birth_date'),'dd.mm.yyyy','ru',1, null, h + 40); return false;" 
				id="cal_date" name="cal_date"><img src="/scripts/calendar/calendar.gif" width="24" height="22" border="0" align="absmiddle" /></a> 
			</TD>
		</TR>
		<TR VALIGN="MIDDLE">					
			<TD width="17%"><b><%=tools_web.get_web_str('vrb_education')%></b></TD>
			<TD>
				<select name="educ_type_id" id="educ_type_id">
					<option value=""></option>
					<%
					for (_educ_type in common.educ_types)
					{
						_selected_flag="";
						if (_educ_type_id == _educ_type.id) _selected_flag=" selected";
						%>
						<option value="<%=_educ_type.id%>"<%=_selected_flag%>><%=_educ_type.name%></option>;
						<%
					}
					%>
				</select>	
			</TD>
		</TR>
		<TR VALIGN="MIDDLE">					
			<TD width="17%"><b><%=tools_web.get_web_str('vrb_professional_field')%></b></TD>
			<TD>
				<select name="profession_area_id" id="profession_area_id">
					<option value=""></option>
					<%
					for (_prof_area in common.professional_areas)
					{
						_selected_flag="";
						if (_profession_area_id == _prof_area.id) _selected_flag=" selected";
						%>
						<option value="<%=_prof_area.id%>"<%=_selected_flag%>><%=_prof_area.name%></option>;
						<%
					}
					%>
				</select>	
				<b><%=tools_web.get_web_str('vrb_service')%>:<b> <input type="text" value="<%=_exp_years%>" name="exp_years" id="exp_years" size="10">
			</TD>
		</TR>	
		<TR VALIGN="MIDDLE">					
			<TD width="17%"><b>Ученая степень</b></TD>
			<TD><input type="text" value="<%=HtmlEncode( _academic_degree )%>" name="academic_degree" id="academic_degree"></TD>
		</TR>
		<TR VALIGN="MIDDLE">					
			<TD width="17%"><b>Ученое звание</b></TD>
			<TD><input type="text" value="<%=HtmlEncode( _academic_title )%>" name="academic_title" id="academic_title"></TD>
		</TR>
		
		
		<tr>
			<td height="10" colspan="2" align="center"><font color="gray">&nbsp;</font></td>				
		</tr>		
		<tr>
			<td height="10" colspan="2" align="center"><font color="gray" size="+0"><b><%=tools_web.get_web_str('vrb_contacts')%></b></font></td>				
		</tr>
		<tr>
			<td height="10" colspan="2" align="center"><font color="gray">&nbsp;</font></td>				
		</tr>
		<TR VALIGN="MIDDLE">					
			<TD width="17%"><b><%=tools_web.get_web_str('uf_phone')%></b></TD>
			<TD><input type="text" value="<%=HtmlEncode( _phone )%>" name="phone" id="phone"></TD>
		</TR>
		<TR VALIGN="MIDDLE">					
			<TD width="17%"><b><%=tools_web.get_web_str('org_telm')%></b></TD>
			<TD><input type="text" value="<%=HtmlEncode( _mobile_phone )%>" name="mobile_phone" id="mobile_phone"></TD>
		</TR>
		<TR VALIGN="MIDDLE">					
			<TD width="17%"><b><%=tools_web.get_web_str('org_telw')%></b></TD>
			<TD><input type="text" value="<%=HtmlEncode( _work_phone )%>" name="work_phone" id="work_phone"></TD>
		</TR>
		<TR VALIGN="MIDDLE">					
			<TD width="17%"><b>E-mail</b></TD>
			<TD><input type="text" value="<%=HtmlEncode( _email )%>" name="email" id="email"></TD>
		</TR>		
		<TR VALIGN="MIDDLE">					
			<TD width="17%"><b><%=tools_web.get_web_str('vrb_region')%></b></TD>
			<TD><input type="text" value="<%=_location_id%>" name="location_id" id="location_id" size="50"></TD>
		</TR>		
		<TR VALIGN="MIDDLE">					
			<TD width="17%"><b><%=tools_web.get_web_str('uf_address')%></b></TD>
			<TD><input type="text" value="<%=HtmlEncode( _address )%>" name="address" id="address" size="100"></TD>
		</TR>
		<tr>
			<td height="10" colspan="2" align="center"><font color="gray">&nbsp;</font></td>				
		</tr>
		<tr>
			<td height="10" colspan="2" align="center"><font color="gray" size="+0"><b>Профессиональный опыт</b></font></td>				
		</tr>
		<tr>
			<td height="10" colspan="2" align="center"><font color="gray">&nbsp;</font></td>				
		</tr>		
		<tr>
			<td height="10" colspan="2" align="right">
			<%	if ( !_readOnly ) 
				{%>
				<img src="/pics/Add.gif" alt="<%=tools_web.get_web_str('c_new_elem')%>" name="work_experiences" id="work_experiences" onclick="add_item( this.name);" border="0"/>
				<%}%>
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<table width="100%" border="0" cellpadding="0" cellspacing="0">
					<tbody id="tbody_work_experiences" name="tbody_work_experiences">
			<% 
			for (_elem in arrWorkExperiences)
			{
			%>
			<TR VALIGN="MIDDLE" id="work_experiences_line_<%=_elem.PrimaryKey%>">	
				<TD width="17%" valign="top">
				<%	if ( !_readOnly ) 
				{%>
					<table width="100%">
						<tr >
							<td align="left">    
								<img src="/pics/Delete_3.gif" alt="<%=tools_web.get_web_str('c_delete')%>" name="work_experiences" id="<%=_elem.PrimaryKey%>" onclick="delete_item(this.name, this.id);" border="0"/>
							</td>
							<td width="25px"><img src="/pics/up.gif" alt="<%=tools_web.get_web_str('c_move_up')%>" name="work_experiences" id="<%=_elem.PrimaryKey%>" onclick="move_up(this.name, this.id);" border="0"/></td>
							<td  width="25px"><img src="/pics/down.gif" alt="<%=tools_web.get_web_str('c_move_down')%>" name="work_experiences" id="<%=_elem.PrimaryKey%>" onclick="move_down(this.name, this.id);" border="0"/></td>
						</tr>
					</table>
				<%}%>
				</TD>
				<TD>
					<table width="100%" border="0">
						<tr>
							<td><input type="hidden" name="work_experiences_<%=_elem.PrimaryKey%>" id="work_experiences_<%=_elem.PrimaryKey%>" value="<%=_elem.PrimaryKey%>"/><%=tools_web.get_web_str('vrb_start')%>:</td>
							<td><input type="text" value="<%= _elem.start_date.HasValue ? StrInt( Month( _elem.start_date ), 2 ) + '.' + Year( _elem.start_date )  : ''  %>" name="start_date_<%=_elem.PrimaryKey%>" id="start_date_<%=_elem.PrimaryKey%>" onchange="check_dateMMYYYY(this);"/></td>
							<td><%=tools_web.get_web_str('vrb_finish')%>:<input type="text" value="<%=  _elem.finish_date.HasValue ? StrInt( Month( _elem.finish_date ), 2 ) + '.' + Year( _elem.finish_date )  : ''  %>" name="finish_date_<%=_elem.PrimaryKey%>" id="finish_date_<%=_elem.PrimaryKey%>" onchange="check_dateMMYYYY(this);"/></td>
						</tr>
						<tr>
							<td><%=tools.get_web_str('c_org')%>: </td>
							<td colspan="2"><input type="text" value="<%= _elem.org_name %>" name="org_name_<%=_elem.PrimaryKey%>" id="org_name_<%=_elem.PrimaryKey%>" size="100%"/></td>
						</tr>
						<tr>
							<td><%=tools.get_web_str('c_position')%>: </td>
							<td colspan="2"><input type="text" value="<%= _elem.position_name %>" name="position_name_<%=_elem.PrimaryKey%>" id="position_name_<%=_elem.PrimaryKey%>" size="100%"/></td>
						</tr>
						<tr>
							<td colspan="3"><%=tools_web.get_web_str('vrb_functions')%>:</td>
						</tr>
						<tr>
							<td colspan="3"> <textarea rows="4" cols="100" name="desc_<%=_elem.PrimaryKey%>" id="desc_<%=_elem.PrimaryKey%>"><%= _elem.desc %></textarea> </td>
						</tr>		
						<tr>
							<td colspan="3"> 
								<table width="100%">
									<tr>
										<td>Рабочий телефон организации:</td>
										<td>Факс организации:</td>
										<td>E-mail организации:</td>
									</tr>		
									<tr>
										<td><input type="text" value="<%= _elem.org_phone %>" name="org_phone_<%=_elem.PrimaryKey%>" id="org_phone_<%=_elem.PrimaryKey%>"/></td>
										<td><input type="text" value="<%= _elem.org_fax %>" name="org_fax_<%=_elem.PrimaryKey%>" id="org_fax_<%=_elem.PrimaryKey%>" /></td>
										<td><input type="text" value="<%= _elem.org_email %>" name="org_email_<%=_elem.PrimaryKey%>" id="org_email_<%=_elem.PrimaryKey%>" /></td>
									</tr>	
									
									<tr>
										<td>Почтовый адрес организации:</td>
										<td colspan="2">Сайт организации:</td>
									</tr>		
									<tr>
										<td><input type="text" value="<%= _elem.org_address %>" name="org_address_<%=_elem.PrimaryKey%>" id="org_address_<%=_elem.PrimaryKey%>"/></td>
										<td colspan="2"><input type="text" value="<%= _elem.org_site %>" name="org_site_<%=_elem.PrimaryKey%>" id="org_site_<%=_elem.PrimaryKey%>" /></td>
									</tr>	
								</table>
							</td>
						</tr>							
					</table>
				</TD>
			</TR>
			<%
			}
			%>
					</tbody>
				</table>
			</td>
		<tr>
			<td height="10" colspan="2" align="center"><font color="gray">&nbsp;</font></td>				
		</tr>
<!-- Projects -->		
		<tr>
			<td height="10" colspan="2" align="center"><font color="gray" size="+0"><b>Проекты</b></font></td>				
		</tr>
		<tr>
			<td height="10" colspan="2" align="center"><font color="gray">&nbsp;</font></td>				
		</tr>		
		<tr>
			<td height="10" colspan="2" align="right">
				<%	if ( !_readOnly ) 
				{%>
					<img src="/pics/Add.gif" alt="<%=tools_web.get_web_str('c_new_elem')%>" name="projects" onclick="add_item( this.name);" border="0"/>
				<%}%>
			</td>
		</tr>		
		<tr>	
			<td colspan="2">
				<table width="100%" border="0" cellpadding="0" cellspacing="0">
					<tbody id="tbody_projects" name="tbody_projects">
		<% 
			for (_elem in arrProjects)
			{
			%>
			<TR VALIGN="BOTTOM" id="projects_line_<%=_elem.PrimaryKey%>">	
				<TD width="17%" valign="top">
					<%	if ( !_readOnly ) 
					{%>
					<table width="100%" border="0">
						<tr>
							<td align="left">    
								<img src="/pics/Delete_3.gif" alt="<%=tools_web.get_web_str('c_delete')%>" name="projects" id="<%=_elem.PrimaryKey%>" onclick="delete_item(this.name, this.id);" border="0"/>
							</td>
							<td width="25px"><img src="/pics/up.gif" alt="<%=tools_web.get_web_str('c_move_up')%>" name="projects" id="<%=_elem.PrimaryKey%>" onclick="move_up(this.name, this.id);" border="0"/></td>
							<td  width="25px"><img src="/pics/down.gif" alt="<%=tools_web.get_web_str('c_move_down')%>" name="projects" id="<%=_elem.PrimaryKey%>" onclick="move_down(this.name, this.id);" border="0"/></td>
						</tr>
					</table>
					<%}%>
				</TD>
				<TD><input type="hidden" name="projects_<%=_elem.PrimaryKey%>" id="projects_<%=_elem.PrimaryKey%>" value="<%=_elem.PrimaryKey%>"/>
					<table width="100%" border="0">
						<tr>
							<td>Предметная область проекта:</td>
							<td>Тип проекта:</td>
							<td>Год проведения экспертизы:</td>
							<td>Год проведения:</td>
						</tr>
						<tr>
							<td><input type="text" value="<%=_elem.sphere%>" name="sphere_<%=_elem.PrimaryKey%>" id="sphere_<%=_elem.PrimaryKey%>" size="30"/></td>
							<td><input type="text" value="<%=_elem.type%>" name="type_<%=_elem.PrimaryKey%>" id="type_<%=_elem.PrimaryKey%>" size="30"/></td>
							<td><input type="text" value="<%=_elem.examination_year%>" name="examination_year_<%=_elem.PrimaryKey%>" id="examination_year_<%=_elem.PrimaryKey%>" size="30" onchange="check_dateYYYY(this);"/></td>
							<td><input type="text" value="<%=_elem.year%>" name="year_<%=_elem.PrimaryKey%>" id="year_<%=_elem.PrimaryKey%>" size="11" onchange="check_dateYYYY(this);"/></td>							
						</tr>
						<tr>
							<td colspan="4">Описание проекта:</td>
						</tr>						
						<tr>
							<td colspan="4">
							<textarea name="desc_<%=_elem.PrimaryKey%>" id="desc_<%=_elem.PrimaryKey%>" width="100%" style="width: 100%" rows="3" class="commonTextarea"><%=_elem.desc%></textarea>
							</td>						
						</tr>
					</table>
				</TD>
			</TR>
			<%
			}
			%>
					</tbody>
				</table>
			</td>
		</tr>
<!-- end of Projects -->		

<!-- Educations -->		
		<tr>
			<td height="10" colspan="2" align="center"><font color="gray" size="+0"><b><%=tools_web.get_web_str('vrb_edu_courses')%></b></font></td>				
		</tr>
		<tr>
			<td height="10" colspan="2" align="center"><font color="gray">&nbsp;</font></td>				
		</tr>		
		<tr>
			<td height="10" colspan="2" align="right">
				<%	if ( !_readOnly ) 
				{%>
					<img src="/pics/Add.gif" alt="<%=tools_web.get_web_str('c_new_elem')%>" name="educations" onclick="add_item( this.name);" border="0"/>
				<%}%>
			</td>
		</tr>		
		<tr>	
			<td colspan="2">
				<table width="100%" border="0" cellpadding="0" cellspacing="0">
					<tbody id="tbody_educations" name="tbody_educations">
		<% 
			for (_elem in arrEducations)
			{
			%>
			<TR VALIGN="BOTTOM" id="educations_line_<%=_elem.PrimaryKey%>">	
				<TD width="17%" valign="top">
					<%	if ( !_readOnly ) 
					{%>
					<table width="100%" border="0">
						<tr>
							<td align="left">    
								<img src="/pics/Delete_3.gif" alt="<%=tools_web.get_web_str('c_delete')%>" name="educations" id="<%=_elem.PrimaryKey%>" onclick="delete_item(this.name, this.id);" border="0"/>
							</td>
							<td width="25px"><img src="/pics/up.gif" alt="<%=tools_web.get_web_str('c_move_up')%>" name="educations" id="<%=_elem.PrimaryKey%>" onclick="move_up(this.name, this.id);" border="0"/></td>
							<td  width="25px"><img src="/pics/down.gif" alt="<%=tools_web.get_web_str('c_move_down')%>" name="educations" id="<%=_elem.PrimaryKey%>" onclick="move_down(this.name, this.id);" border="0"/></td>
						</tr>
					</table>
					<%}%>
				</TD>
				<TD><input type="hidden" name="educations_<%=_elem.PrimaryKey%>" id="educations_<%=_elem.PrimaryKey%>" value="<%=_elem.PrimaryKey%>"/>
					<table width="100%" border="0">
						<tr>
							<td><%=tools.get_web_str('c_name')%>:</td>
							<td><%=tools.get_web_str('c_type')%>:</td>
							<td><%=tools_web.get_web_str('vrb_faculty')%>:</td>
							<td><%=tools_web.get_web_str('vrb_result')%>:</td>
							<td><%=tools_web.get_web_str('vrb_finish_year')%>:</td>
							<td>Сайт ВУЗа:</td>
						</tr>
						<tr>
							<td><input type="text" value="<%=_elem.name%>" name="educ_name_<%=_elem.PrimaryKey%>" id="educ_name_<%=_elem.PrimaryKey%>" size="30"/></td>
							<td width="10px">
								<select name="educ_type_<%=_elem.PrimaryKey%>" id="educ_type_<%=_elem.PrimaryKey%>">
									<option value=""></option>
									<%
									for (_educ_type in common.expended_educ_types)
									{
										_selected_flag="";
										if (_elem.type == _educ_type.id) _selected_flag=" selected";
										%>
										<option value="<%=_educ_type.id%>"<%=_selected_flag%>><%=_educ_type.name%></option>;
										<%
									}
									%>
								</select>
							</td>
							<td><input type="text" value="<%=_elem.specialisation%>" name="specialisation_<%=_elem.PrimaryKey%>" id="specialisation_<%=_elem.PrimaryKey%>" size="20"/></td>
							<td><input type="text" value="<%=_elem.result%>" name="result_<%=_elem.PrimaryKey%>" id="result_<%=_elem.PrimaryKey%>" size="23"/></td>
							<td width="11px"><input type="text" value="<%=_elem.date%>" name="educ_year_<%=_elem.PrimaryKey%>" id="educ_year_<%=_elem.PrimaryKey%>" size="11" onchange="check_dateYYYY(this);"/></td>
							<td width="11px"><input type="text" value="<%=_elem.site%>" name="site_<%=_elem.PrimaryKey%>" id="site_<%=_elem.PrimaryKey%>" size="11"/></td>
						</tr>
					</table>
				</TD>
			</TR>
			<%
			}
			%>
					</tbody>
				</table>
			</td>
		</tr>
		
<!-- end of Educations -->		
		

<!-- Publications -->		
		<tr>
			<td height="10" colspan="2" align="center"><font color="gray" size="+0"><b>Публикации</b></font></td>				
		</tr>
		<tr>
			<td height="10" colspan="2" align="center"><font color="gray">&nbsp;</font></td>				
		</tr>		
		<tr>
			<td height="10" colspan="2" align="right">
				<%	if ( !_readOnly ) 
				{%>
					<img src="/pics/Add.gif" alt="<%=tools_web.get_web_str('c_new_elem')%>" name="publications" onclick="add_item( this.name);" border="0"/>
				<%}%>
			</td>
		</tr>		
		<tr>	
			<td colspan="2">
				<table width="100%" border="0" cellpadding="0" cellspacing="0">
					<tbody id="tbody_publications" name="tbody_publications">
		<% 
			for (_elem in arrPublications)
			{
			%>
			<TR VALIGN="BOTTOM" id="publications_line_<%=_elem.PrimaryKey%>">	
				<TD valign="top">
					<%	if ( !_readOnly ) 
					{%>
					<table width="100%" border="0">
						<tr>
							<td align="left">    
								<img src="/pics/Delete_3.gif" alt="<%=tools_web.get_web_str('c_delete')%>" name="publications" id="<%=_elem.PrimaryKey%>" onclick="delete_item(this.name, this.id);" border="0"/>
							</td>
							<td width="25px"><img src="/pics/up.gif" alt="<%=tools_web.get_web_str('c_move_up')%>" name="publications" id="<%=_elem.PrimaryKey%>" onclick="move_up(this.name, this.id);" border="0"/></td>
							<td width="25px"><img src="/pics/down.gif" alt="<%=tools_web.get_web_str('c_move_down')%>" name="publications" id="<%=_elem.PrimaryKey%>" onclick="move_down(this.name, this.id);" border="0"/></td>
						</tr>
					</table>
					<%}%>
				</TD>
				<TD width="100%"><input type="hidden" name="publications_<%=_elem.PrimaryKey%>" id="publications_<%=_elem.PrimaryKey%>" value="<%=_elem.PrimaryKey%>"/>
					<table width="100%" border="0">
						<tr>
							<td><%=tools.get_web_str('c_name')%>:</td>
							<td>Издание:</td>
							<td>Дата публикации:</td>
							<td>Ссылка:</td>
						</tr>
						<tr>
							<td><input type="text" value="<%=_elem.name%>" name="name_<%=_elem.PrimaryKey%>" id="name_<%=_elem.PrimaryKey%>" size="35"/></td>
							<td><input type="text" value="<%=_elem.publisher%>" name="publisher_<%=_elem.PrimaryKey%>" id="publisher_<%=_elem.PrimaryKey%>" size="35"/></td>
							<td>
							<%=tools_web.draw_calendar('date_' + _elem.PrimaryKey,StrDate( _elem.date, false,false ),'dd.mm.yyyy')%>
							</td>
							<td><input type="text" value="<%=_elem.link%>" name="link_<%=_elem.PrimaryKey%>" id="link_<%=_elem.PrimaryKey%>" size="35"/></td>
						</tr>
					</table>
				</TD>
			</TR>
			<%
			}
			%>
					</tbody>
				</table>
			</td>
		</tr>
		
<!-- end of Publications -->	
		
		<tr>
			<td height="10" colspan="2" align="center"><font color="gray">&nbsp;</font></td>				
		</tr>
		<tr>
			<td height="10" colspan="2" align="center"><font color="gray" size="+0"><b><%=tools_web.get_web_str('vrb_lng_is')%></b></font></td>				
		</tr>
		<tr>
			<td height="10" colspan="2" align="center"><font color="gray">&nbsp;</font></td>				
		</tr>
		<TR VALIGN="MIDDLE">					
			<TD width="17%"><b><%=tools_web.get_web_str('vrb_lng_my')%></b></TD>
			<TD>
				<select name="main_lng" id="main_lng">
					<option value=""></option>
					<%
					for (_lng in common.languages)
					{
						_selected_flag="";
						if (_main_lng == _lng.id) _selected_flag=" selected";
						%>
						<option value="<%=_lng.id%>"<%=_selected_flag%>><%=_lng.name%></option>;
						<%
					}
					%>
				</select>	
				
			</TD>
		</TR>
		<tr>
			<td height="10" colspan="2" align="right">
			<%	if ( !_readOnly ) 
			{%>
				<img src="/pics/Add.gif" alt="<%=tools_web.get_web_str('c_new_elem')%>" name="lngs" onclick="add_item( this.name);" border="0"/>
			<%}%>
			</td>				
		</tr>
		<tr>
		<td colspan="2">
				<table width="100%" border="0" cellpadding="0" cellspacing="0">
					<tbody id="tbody_lngs" name="tbody_lngs">
		<% 
			for (_elem in arrLngs)
			{
			%>
			<TR VALIGN="BOTTOM" id="lngs_line_<%=_elem.PrimaryKey%>">	
				<TD width="17%" valign="top">
					<%	if ( !_readOnly ) 
					{%>
					<table width="100%" border="0">
						<tr>
							<td align="left">    
								<img src="/pics/Delete_3.gif" alt="<%=tools_web.get_web_str('c_delete')%>" name="lngs" id="<%=_elem.PrimaryKey%>" onclick="delete_item(this.name, this.id);" border="0"/></td>
							<td width="25px"><img src="/pics/up.gif" alt="<%=tools_web.get_web_str('c_move_up')%>" name="lngs" id="<%=_elem.PrimaryKey%>" onclick="move_up(this.name, this.id);" border="0"/></td>
							<td  width="25px"><img src="/pics/down.gif" alt="<%=tools_web.get_web_str('c_move_down')%>" name="lngs" id="<%=_elem.PrimaryKey%>" onclick="move_down(this.name, this.id);" border="0"/></td>
						</tr>
					</table>
					<%}%>
				</TD>
				<TD><input type="hidden" name="lngs_<%=_elem.PrimaryKey%>" id="lngs_<%=_elem.PrimaryKey%>" value="<%=_elem.PrimaryKey%>"/>
					<table width="100%" border="0">

							<tr>
								<td><%=tools_web.get_web_str('vrb_lng_foreign')%>:</td>
								<td><%=tools_web.get_web_str('vrb_lng_level')%>:</td>
							</tr>

						<tr>
							<td width="100px">
								<select name="lng_id_<%=_elem.PrimaryKey%>" id="lng_id_<%=_elem.PrimaryKey%>">
									<option value=""></option>
									<%
									for (_lng in common.languages)
									{
										_selected_flag="";
										if (_elem.lng_id == _lng.id) _selected_flag=" selected";
										%>
										<option value="<%=_lng.id%>"<%=_selected_flag%>><%=_lng.name%></option>;
										<%
									}
									%>
								</select>
							</td>
							<td>								
								<select name="level_<%=_elem.PrimaryKey%>" id="level_<%=_elem.PrimaryKey%>">
									<option value=""></option>
									<%
									for (_level in common.language_levels)
									{
										_selected_flag="";
										if (_elem.level == _level.id) _selected_flag=" selected";
										%>
										<option value="<%=_level.id%>"<%=_selected_flag%>><%=_level.name%></option>;
										<%
									}
									%>
								</select>
							</td>
						</tr>
					</table>
				</TD>
			</TR>
			<%
			}
			%>
					</tbody>
				</table>
			</td>
		</tr>
		<tr>
			<td height="10" colspan="2" align="center"><font color="gray">&nbsp;</font></td>				
		</tr>		
		<tr>
			<td height="10" colspan="2" align="center"><font color="gray" size="+0"><b><%=tools_web.get_web_str('vrb_extra_info')%></b></font></td>				
		</tr>
		<tr>
			<td height="10" colspan="2" align="center"><font color="gray">&nbsp;</font></td>				
		</tr>
		
		<TR VALIGN="MIDDLE">					
			<TD width="17%"><b><%=tools_web.get_web_str('vrb_skils')%></b></TD>
			<TD>
				<textarea name="dominant_skills" id="dominant_skills" cols="50" rows="10" class="commonTextarea"><%= _dominant_skills %></textarea>				
			</TD>
		</TR>		
	</table>
<br/>
<hr/>
	<table  align="center" width="100%" cellspacing="0" cellpadding="4">
		<tr>
			<td>
<%
				isModify = !_readOnly
				dispTable = false
				leftStyle = 'text-align: left; width:140px; font-size:inherit';
				Server.Execute( "view_custom_templates.html" );
%>
			</td>
		</tr>
	</table>
	<table align="center" width="100%" cellspacing="0" cellpadding="4">
<%	
if ( !_readOnly ) 
	{
%>
			<td align="right"><input type="button" value="<%=tools_web.get_web_str('c_save')%>" class="inputButton" onclick="save();" onMouseOver="this.className='inputButtonOver';" onMouseOut="this.className='inputButton';"></td>				
<%
	}
%>
			<td align="<%=(!_readOnly?'left':'center')%>">
				<input type="button" value="<%=tools.get_web_str('c_cancel')%>" onClick="CancelButton()" class="inputButton" onMouseOver="this.className='inputButtonOver';" onMouseOut="this.className='inputButton';"/>
			</td>	
		</tr>
	</table>
</FORM>

